{% include "include/header.html"%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            설계 과목 관리
            <small>ABEEK Engineering Design Subject Settings</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-university"></i> Settings</a></li>
            <li class="active">ABEEK Engineering Design Subject</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="overlay" id="search-check" style="display: none;">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">STEP 1: 설계 과목 검색</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="search-group"><i
                                    class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>개설 시기</label>
                                    <select class="form-control select2" id="year" style="width: 100%;">
                                        <option selected="selected">2018</option>
                                        <option>2017</option>
                                        <option>2016</option>
                                        <option>2015</option>
                                        <option>2014</option>
                                        <option>2013</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>개설 학과</label>
                                    <select class="form-control select2" id="major" style="width: 100%;">
                                        <option selected="selected">없음</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="search" onclick="readAbeekList()" class="btn btn-default btn-block"><i class="fa fa-search"></i> 설계 과목 조회하기
                                </button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <i class="icon fa fa-warning"></i> 설계 학점이 정상적으로 조회되지 않는다면 <a href="report"><b>시스템 오류
                        신고</b></a>를 이용해주세요.
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger collapsed-box">
                    <div class="overlay" id="result-wait">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">STEP 2: 설계 과목 확인 및 설정</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-group"><i
                                    class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>개설 시기</label>
                                    <span class="form-control" id="searched_year" style="width: 100%;">-</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>개설 학과</label>
                                    <span class="form-control" id="searched_major" style="width: 100%;">-</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="result-close" class="btn btn-default btn-block"><i class="fa fa-undo"></i> 설계 과목 재검색
                                </button>
                                <p class="text-center">&mdash;</p>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover text-center"
                                       id="table-rule">
                                    <thead>
                                    <tr>
                                        <th class="hidden-xs" style="width: 80px">학수번호</th>
                                        <th>과목 이름</th>
                                        <th style="width: 70px">설계학점</th>
                                        <th class="hidden-xs" style="width: 100px">관리</th>
                                    </tr>
                                    </thead>
                                    <tbody id="abeek_list">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <!--div class="box-footer" style="display: none;">
                        <i class="icon fa fa-info-circle"></i> 각 과목 그룹에 해당하는 상세 규칙은 <a href="/screen/rule"><b>졸업 요건
                        관리</b></a>에서 지정하실 수 있습니다.<br>
                    </div-->
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-create">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">새로운 과목을 추가합니다. 반드시 설계학점을 입력해주셔야 합니다.</h4>
                    </div>
                    <div class="modal-body" id="modal-list-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>과목 검색</label>
                                    <input type="text" class="form-control text-bold text-center" id="searchList"
                                           placeholder="검색하고자 하는 과목 이름의 일부를 입력하십시오.">
                                </div>
                                <table class="table table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th class="hidden-xs" style="width: 50px">선택</th>
                                        <th style="width: 80px">학수번호</th>
                                        <th>과목 이름</th>
                                        <th style="width: 80px">설계학점</th>
                                    </tr>
                                    </thead>
                                    <tbody id="subject-option-list">
                                    <!--##totalSubject#-->
                                    <tr>
                                        <td><label><input id="new-<!--#academicNo#-->" type="checkbox" class="minimal-red" name="selectedList" value="<!--#academicNo#-->"></label></td>
                                        <td><!--#academicNo#--></td>
                                        <td><!--#name#--></td>
                                        <td><input type="text" class="form-control input-sm text-bold text-center" id="credit-<!--#academicNo#-->"></td>
                                    </tr>
                                    <!--#/totalSubject#-->
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                            </div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary" onclick="addAbeekSubject()" data-dismiss="modal">추가하기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% include "include/footer.html"%}
<script type="text/javascript">
    $('.select2').select2()

    $('#modal-create').on('shown.bs.modal', function () {
        $('#modal-read-body').scrollTop(0);
    })

    $('#year').change(function () {
        $('#major').prop('disabled', 'disabled')
        $.ajax({
            url: '/group/search/department',
            type: 'get',
            data: {'year': $('#year').val()},
            success: function (result) {
                if (result['result'] === 'success') {
                    $('#major').empty()

                    if (!result['count']) {
                        iziToast.show({
                            title: '알림',
                            message: info01 + alert03,
                            theme: 'light',
                            color: 'red',
                            position: 'topRight',
                            timeout: 3000
                        })
                    } else {
                        for (key in result['departments']) {
                            $('#major').append('<option value="' + result['departments'][key]['no'] + '">' + result['departments'][key]['name'] + '</option>')
                        }

                        $('#major').prop('disabled', '')
                    }
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    })

    var abeekList, deptNo;
    function readAbeekList() {
        $('#search').prop('disabled', 'disabled');
        $('#search-check').css("display", "");
        deptNo = $('#major').val();
        $.ajax({
            url: '/abeek/search',
            type: 'get',
            data: {
                'dept': deptNo
            },
            success: function (result) {
                if (result['result'] === 'success') {
                    abeekList = result['EngineeringList'];
                    $('#searched_year').text($('#year').find('option:selected').val())
                    $('#searched_major').text($('#major').find('option:selected').text())
                    $('#abeek_list').empty()

                    for(key in abeekList) {
                        $('#abeek_list').append('<tr><td>'+abeekList[key]['subject']['academicNo']+
                            '</td><td>'+abeekList[key]['subject']['name']+'</td><td>'+abeekList[key]['credit']+
                            '</td><td class="hidden-xs"><button type="button" class="btn btn-warning btn-xs">수정</button> <button type="button" class="btn btn-danger btn-xs">삭제</button></td></tr>')
                    }
                    $('#abeek_list').append('<tr class="hidden-xs"><td></td><td></td><td></td><td class="hidden-xs"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-create">새 과목 추가</button></td></tr>')


                    $('#search-group').trigger("click");
                    $('#result-wait').css("display", "none");
                    $('#result-group').trigger("click")

                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })

                    $('#searched_year').text('-')
                    $('#searched_major').text('-')

                    $('#search-check').css("display", "none")
                    $('#search').prop('disabled', '')
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })

                $('#searched_year').text('-')
                $('#searched_major').text('-')

                $('#search-check').css("display", "none")
                $('#search').prop('disabled', '')
            }
        })
    }

    $(document).ready(function () {
        $("#searchList").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#subject-option-list").find("tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        })
    });

    function addAbeekSubject() {
        var checkboxValues = [];
        $("input[name='selectedList']:checked").each(function (i) {
            checkboxValues.push($(this).val());
        });
        console.log(checkboxValues);
        var creditValues = [];
        for(key in checkboxValues){
            creditValues.push($("#credit-"+checkboxValues[key]).val());
        }
        console.log(creditValues)
        $.ajax({
            url: '/abeek/save',
            type: 'get',
            data: {
                'dept': deptNo,
                'selectedList': checkboxValues,
                'creditList' : creditValues,
            },
            success: function (result) {
                if (result['result'] === 'success') {
                    abeekList = result['EngineeringList'];
                    console.log(abeekList)
                    $('#abeek_list').empty();

                    for(key in abeekList) {
                        $('#abeek_list').append('<tr><td>'+abeekList[key]['subject']['academicNo']+
                            '</td><td>'+abeekList[key]['subject']['name']+'</td><td>'+abeekList[key]['credit']+
                            '</td><td class="hidden-xs"><button type="button" class="btn btn-warning btn-xs">수정</button> <button type="button" class="btn btn-danger btn-xs">삭제</button></td></tr>')
                    }
                    $('#abeek_list').append('<tr class="hidden-xs"><td></td><td></td><td></td><td class="hidden-xs"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-create">새 과목 추가</button></td></tr>')

                }
                else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    }
    $('#result-close').click(function() {
        $('#search').prop('disabled', '')
        $('#search-check').css("display", "none");

        $('#search-group').trigger("click")
        $('#result-wait').css("display", "");
        $('#result-group').trigger("click")
    });

    $("#modal-create").on('hidden.bs.modal', function () {
        var checkboxValues = [];
        $("input[name='selectedList']:checked").each(function (i) {
            checkboxValues.push($(this).val());
        });
        for(key in checkboxValues){
            $("#new-"+checkboxValues[key]).prop("checked",false);
            $("#credit-"+checkboxValues[key]).val('');
        }
    })

</script>
{% include "include/script.html"%}