{% load static %}
{% include "include/header.html" %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>일반 관리
        <small>Metadata Management</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 일반 관리</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header">
                <h4>메타데이터 관리를 할 수 있습니다.</h4>
            </div>

            <div class="box-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>meta_code</label>
                            <select class="form-control" id="meta_code">
                                <option value="">모든 메타코드</option>
                                    {% for meta_data in meta_data_code %}
                                        <option value="{{ meta_data.meta_data_code }}">{{ meta_data.meta_data_code }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>meta_name</label>
                            <select class="form-control" id="meta_name">
                                <option value="">모든 메타코드</option>
                                    {% for meta_data in meta_data_name %}
                                        <option value="{{ meta_data.meta_data_name }}">{{ meta_data.meta_data_name }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>meta_relation_code</label>
                            <select class="form-control" id="meta_relation_code">
                                <option value="">모든 메타코드</option>
                                    {% for meta_data in meta_data_relation_code %}
                                        <option value="{{ meta_data.meta_data_relation_code }}">{{ meta_data.meta_data_relation_code }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>meta_relation_name</label>
                            <select class="form-control" id="meta_relation_name">
                                <option value="">모든 메타코드</option>
                                    {% for meta_data in meta_data_relation_name %}
                                        <option value="{{ meta_data.meta_data_relation_name }}">{{ meta_data.meta_data_relation_name }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>upper_meta_code</label>
                            <select class="form-control" id="meta_upper_code">
                                <option value="">모든 메타코드</option>
                                    {% for meta_data in upper_data_code %}
                                        <option value="{{ meta_data.upper_data_code }}">{{ meta_data.upper_data_code }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 col-md-offset-1">
                            <a href="{% url 'general_create' %}"><button class="btn btn-primary col-md-12">생성</button></a>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                        <button class="btn btn-primary col-md-12" id="search">조회</button>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover text-center">
                          <thead>
                            <tr>
                              <th style="width:10%">메타코드</th>
                              <th style="width:30%">메타이름</th>
                              <th style="width:30%">메타관련코드</th>
                              <th style="width:10%">메타관련이름</th>
                              <th style="width:10%">상위코드</th>
                              <th style="width:8%">관리</th>
                            </tr>
                          </thead>
                          <tbody id="meta_table">
                          {% if context %}
                          {% for meta_data in context %}
                              <tr>
                              <td>{{ meta_data.meta_data_code }}</td>
                              <td>{{ meta_data.meta_data_name }}</td>
                              <td>{{ meta_data.meta_data_relation_code }}</td>
                              <td>{{ meta_data.meta_data_relation_name }}</td>
                              <td>{{ meta_data.upper_data_code }}</td>
                              <td>
                                  <a href="{% url 'general_update' id=meta_data.id %}"><button class="btn btn-warning btn-xs" >수정</button></a>
                                <!--<button class="btn btn-warning btn-xs" onclick="update_meta({{ meta_data.id }},'{{ meta_data.meta_data_name }}'
                                        ,'{{ meta_data.meta_data_relation_code }}','{{ meta_data.meta_data_relation_name }}','{{ meta_data.upper_data_code }}')">수정</button>-->
                                <button class="btn btn-danger btn-xs" onclick="delete_meta({{ meta_data.id }},'{{ meta_data.meta_data_name }}')">삭제</button>
                            </td>
                            </tr>
                          {% endfor %}
                          {% endif %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer text-center" >
                <ul class="pagination pagination-sm no-margin">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><<</a></li>
                        {% endif %}
                            <li><span class="page-current">
                           {{ page_obj.number }}
                            </span></li>
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">>></a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

        </div>
    </section>
        </div>

<!--삭제 모달-->
<div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">정말로 삭제 하시겠습니까?</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div id="modal_delete_id" style="visibility: hidden;">-</div>
                        <div class="form-group">
                            <label for="modal_delete_rule_name">과목 그룹 이름</label>
                            <input type="text" class="form-control" id="modal_delete_meta_name" disabled>
                        </div>
                    </div>
                    <i class="icon fa fa-info-circle"></i> 유의하여 삭제해주시기 바랍니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal_delete">삭제</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


<script>
    $('#search').click(function(){
        var meta_data_code = $('#meta_code').val()
        var meta_data_name = $('#meta_name').val()
        var meta_data_relation_code = $('#meta_relation_code').val()
        var meta_data_relation_name = $('#meta_relation_name').val()
        var meta_upper_data_code = $('#meta_upper_code').val()
        window.location.replace('/general/?meta_data_code='+meta_data_code+'&meta_data_name='+meta_data_name
        +'&meta_data_relation_code='+meta_data_relation_code+'&meta_data_relation_name='+meta_data_relation_name
        +'&meta_upper_data_code='+meta_upper_data_code)
    })

    function delete_meta(id, meta_name){
        $('#modal_delete_id').val(id)
        $('#modal_delete_meta_name').val(meta_name)
        $('#modal-delete').modal('show')
    }

    $('#modal_delete').click(function(){
        $.ajax({
            url: '/data/common/metainfo/'+$('#modal_delete_id').val()+'/',
            type: 'DELETE',
            data: {},
            success: function (result) {
                reload()
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })
    })

    function reload(){
        $.ajax({
            url: '/data/common/metainfo/',
            type: 'GET',
            data: {},
            success: function (result) {
                $('#meta_table').empty()

                for(var key in result){
                    $('#meta_table').append(
                        "<tr><td>"+result[key].meta_data_code
                        +"</td><td>"+result[key].meta_data_name
                        +"</td><td>"+result[key].meta_data_relation_code
                        +"</td><td>"+result[key].meta_data_relation_name
                        +"</td><td>"+result[key].upper_data_code
                        +"</td><td><button class=\"btn btn-warning btn-xs\" onclick=\"update_meta("
                        +result[key].id+",'"+result[key].meta_data_name+"','"+result[key].meta_data_relation_code+"','"+result[key].meta_data_relation_name
                        +"','"+result[key].upper_data_code+"')\">수정</button>"
                        +"<button class=\"btn btn-danger btn-xs\" onclick=\"delete_meta("+result[key].id+",'"+result[key].meta_data_name
                        +"')\">삭제</button>"
                        +"</td></tr>"
                    )
                }
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })
    }
</script>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
 {% include "include/footer.html" %}