{% include "include/header.html"%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            일반 설정 관리
            <small>General Settings</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-university"></i> Settings</a></li>
            <li class="active">General</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="overlay" id="search-check" style="display: none;">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">STEP 1: 입학연도 검색 및 생성</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="search-settings"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>입학연도</label>
                                    <select class="form-control select2" id="year" style="width: 100%;">
                                        <!--#years-->
                                        <option selected="selected"><!--year--></option>
                                        <!--/years-->
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-2 hidden-xs hidden-sm">
                                <label>다음 입학연도</label>
                                <button id="addYear" class="btn btn-danger btn-block"><i class="icon fa fa-warning"></i> 생성하기</button>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="search" class="btn btn-default btn-block"><i class="fa fa-search"></i> 구성 학과 조회하기</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <i class="icon fa fa-warning"></i> 입학연도가 정상적으로 조회되지 않는다면 <a href="report"><b>시스템 오류 신고</b></a>를
                        이용해주세요.
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger collapsed-box">
                    <div class="overlay" id="result-wait">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">STEP 2: 입학연도 구성 학과 확인 및 설정</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-settings"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>입학연도</label>
                                    <span class="form-control" id="searched_year" style="width: 100%;">-</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="result-close" class="btn btn-default btn-block"><i class="fa fa-undo"></i> 입학연도 재검색</button>
                                <p class="text-center">&mdash;</p>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover text-center" id="table-rule">
                                    <thead>
                                    <tr>
                                        <th class="hidden-xs" style="width: 80px">학과 번호</th>
                                        <th>학과 이름</th>
                                    </tr>
                                    </thead>
                                    <tbody id="group_body">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <p class="text-center">&mdash;</p>
                        <div class="well">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>(임시) 새 학과 이름</label>
                                        <input type="text" class="form-control text-center" id="insert-dept-name" placeholder="새로운 학과 이름을 입력해주십시오.">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>새 학과</label>
                                        <button type="button" class="btn btn-danger btn-block" id="insert-dept-submit"><i class="icon fa fa-warning"></i> 생성</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="icon fa fa-warning"></i> 이 기능은 완전한 서비스가 구현되기 전까지 한시적으로 운영됩니다.

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="display: none;">
                        <i class="icon fa fa-warning"></i> 입학연도 구성 학과가 정상적으로 조회되지 않는다면 <a href="report"><b>시스템 오류 신고</b></a>를
                        이용해주세요.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% include "include/footer.html"%}
<script type="text/javascript">

    $('.select2').select2()

    $('#search').click(function(){
        $('#search-check').css("display", "");
        $.ajax({
                url: '/settings/general/search/dept/',
                type: 'get',
                data: {
                    'year' : $('#year').val()
                },
                success: function (result) {
                    if(result['result'] === 'success') {
                        $('#searched_year').text($('#year').find('option:selected').val())

                        $('#group_body').empty()

                        for(key in result['depts']){
                            $('#group_body').append(
                                '<tr><td>' + result['depts'][key]['no']
                                + '</td><td>' + result['depts'][key]['name']
                                + '</td></tr>')
                        }
                        $('#search-settings').trigger("click")
                        $('#result-wait').css("display", "none");
                        $('#result-settings').trigger("click")
                    } else {
                        iziToast.show({
                            title: '알림',
                            message: info01 + alert02,
                            theme: 'light',
                            color: 'red',
                            position: 'topRight',
                            timeout: 3000
                        })

                        $('#searched_year').text('-')

                        $('#search-check').css("display", "none")
                        $('#search').prop('disabled', '')
                    }
                },
                error: function (result) {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert00,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })

                    $('#searched_year').text('-')

                    $('#search-check').css("display", "none")
                    $('#search').prop('disabled', '')
                }
            }
        )
    })

    $('#insert-dept-submit').click(function () {
        $.ajax({
            url: '/settings/general/addDept',
            type: 'get',
            data: {
                'deptName' : $('#insert-dept-name').val(),
                'year' : $('#year').val()
            },
            success : function(result){
                if(result['result'] === 'success'){

                    $('#group_body').append('<tr><td>' + result['depts']['no']
                        + '</td><td>' + result['depts']['name']
                        + '</td></tr>')

                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    })

    $('#addYear').click(function () {
        $.ajax({
            url: '/settings/general/addYear',
            type: 'get',
            data: {
            },
            success: function (result) {
                if (result['result'] === 'success') {

                    /*
                                        for (key in result['rules']) {
                                            $('#tbody-rule').append('<option>' + result['rules'][0][key]['name'] + '</option>')
                                        }
                    */
                    $('#year').append('<option selected="selected">'+result['year']['year']+'</option>')


                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    })

    $('#result-close').click(function() {
        $('#search').prop('disabled', '')
        $('#search-check').css("display", "none");

        $('#search-settings').trigger("click")
        $('#result-wait').css("display", "");
        $('#result-settings').trigger("click")
    })
</script>

{% include "include/script.html"%}