{% load static %}
{% include "include/header.html" %}
<div class="content-wrapper">
  <div class="content-header">
      <h1>자신에 대한 졸업진단을 합니다.</h1>
  </div>
  <div class="row">
    <div class="card col-md-12">
        <select class="selectpicker col-md-6" data-live-search="true" id = "university-list">
            <option value="null">학교 선택필요</option>
        </select>
    </div>
  </div>
  <div class="row">
      <div class="card col-md-6">
          <div class="card-header"><h2>졸업진단</h2></div>
          <div class="card-body">
            
            <div class="card container col-md-6 text-center">
              아직 졸업이 불가능 합니다.
            </div>
            
            <div class="card">
              <div>
                <small>10과목 중 6과목 이상 수료해야 합니다.</small>
              </div>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    40% Complete (success)
                  </div>
              </div>
            </div>
            
            <div class="card">
              <div>
                <small>10과목 중 6과목 이상 수료해야 합니다.</small>
              </div>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    40% Complete (success)
                  </div>
              </div>
            </div>
            
            <div class="card">
              <div>
                <small>10과목 중 6과목 이상 수료해야 합니다.</small>
              </div>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    40% Complete (success)
                  </div>
              </div>
            </div>
            
            <div class="card">
              <div>
                <small>10과목 중 6과목 이상 수료해야 합니다.</small>
              </div>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    40% Complete (success)
                  </div>
              </div>
            </div>

            
            <div class="col-md-12">
                <button class="btn btn-warning col-md-12 text-center"><small>수동입력 및 임시저장</small></button>
            </div>
            
          </div> 
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                  <button class="btn col-md-12 text-center"><small>오류사항이 있어요! 해결 문의하기.</small></button>
              </div>
            </div>
          </div>
          
        </div>
        <div class="card col-md-6">
            <div class="card-header"><h2>학교별 주의사항 공지</h2></div>
            <div class="card-body">Content</div> 
            <div class="card-footer">Footer</div>
          </div>

  </div>

</div>
  <script>
    $( document ).ready(function() {
      console.log( "ready!" );
      create_universityList();
    });

    function create_universityList() {
      domId='#university-list'

      $(domId).append('<option>세종대학교</option>');
      $(domId).append('<option>건국대학교</option>');
      $(domId).append('<option>안산대학교</option>');

    }
  </script>
