{% load static %}
{% include "include/header.html" %}
          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <section class="content-header">나의 수강 이력 관리
                <div class="container-fluid">
                        <div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="modal-create" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                            <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">이용약관 </h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <div class="content">
                                                <div>이용약관1</div>
                                                <textarea readonly cols="62" rows="10">이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나</textarea>
                                            </div>
                                            <br>
                                            <div class="content">
                                                <div>이용약관2</div>
                                                <textarea readonly cols="62" rows="10">이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나이렇게하면되나</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">저장</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                    </div>
                                </div>
                        </div>

                </div>
            </section>
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover" style="text-align: center">
                                    <thead>
                                        <th>과목이름</th>
                                        <th>학년</th>
                                        <th>학기</th>
                                        <th>영역</th>
                                        <th>학점</th>
                                        <th>교수님</th>
                                        <th>성적</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td><a href="https://naver.com"><i class="fa fa-times"></i></a></td>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <span class="col-md-2">총학점:100</span><span class="col-md-2">평균학점:3.46</span>
                        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal-create"><i class="fa fa-plus"></i> 과목 추가하기</button><br><br>
                        <button class="btn btn-primary pull-right">엑셀 업로드</button>
                    </div>
                </div>


          
            </section>
          </div>
          <!-- /.content-wrapper -->
      

      
{% include "include/footer.html" %}