{% load static %}
{% include "include/header.html" %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>수강 이력
        <small>Subject Records</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 수강 이력</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h4 class="title">수강 이력</h4>
        </div>
          <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover text-center" >
                        <thead>
                            <tr>
                                <th style="width: 250px">과목 이름</th>
                                <th style="width: 80px">이수 구분</th>
                                <th style="width: 50px">이수 학년</th>
                                <th style="width: 50px">이수 학기</th>
                                <th style="width: 50px">학생 성적</th>
                                <th style="width: 50px">교과목 영역</th>
                                <th style="width: 50px">교과목 학점</th>
                                <th style="width: 20px">관리</th>
                            </tr>
                        </thead>
                        <tbody id="subject_list">
                            <tr>
                                <td>컴퓨터의 이해</td>
                                <td>이수구분</td>
                                <td>1학년</td>
                                <td>1학기</td>
                                <td>A</td>
                                <td>전공필수</td>
                                <td>2학점</td>
                                <td>
                                  <button class="btn btn-xs btn-warning">수정</button>
                                  <button class="btn btn-xs btn-danger">삭제</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Mo_plus" >추가</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
      <div class="modal fade" id="Mo_plus" role="dialog" style="display: none">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="header"><b>새로운 과목을 추가합니다.</b></h4>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>이수 학년</label>
                          <select class="form-control" id="year">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>이수 학기</label>
                          <select class="form-control" id="semester">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">여름학기(계절)</option>
                              <option value="4">겨울학기(계절)</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>이수 구분</label>
                          <select class="form-control" id="subject_division">
                              <option>1</option>
                              <option>1</option>
                              <option>1</option>
                          </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label>과목 이름</label>
                          <select class="form-control" id="subject_name">
                          </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>나의 성적</label>
                          <select id="grades" class="form-control">
                              <option>1</option>
                              <option>1</option>
                              <option>1</option>
                          </select>
                      </div>
                  </div>
                </div>
              </div>
                <i class="fa fa-warning"></i>새로운 졸업 요건을 추가할 때에는 이미 존재하는 졸업 요건에 유의하시기 바랍니다.
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                  <button class="btn btn-primary pull-right" id="subject_submit">추가하기</button>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>


    $(document).ready(function(){

        // 대학 과목 리스트 로드
        $.ajax({
            url: '/data/university/subjects/',
            type: 'get',
            data: { university : {% if student %}{{ student.student_university_name }}{% else %}''{% endif %}},
            success: function (result) {

                $("#subject_name").empty()
                $("#subject_division").empty()

                for(var key in result){
                    $("#subject_name").append("<option value='"+result[key].subject_code+"'>"+result[key].subject_name+"</option>");
                }


            },
            error: function () {
                alert('error2')
            }
        })

        // 대학 이수구분 로드
        $.ajax({
            url: '/data/common/university/data/',
            type: 'get',
            data: { 'university' : {% if student %}"{{ student.student_university_name }}"{% endif %},
                    'meta_data_code' : 'meta_completionDivision'
            },
            success: function (result) {

                $("#subject_division").empty()

                for(var key in result){
                    $("#subject_division").append("<option value='"+result[key].meta_data_relation_code+"'>"+result[key].meta_data_relation_name+"</option>");
                }

            },
            error: function () {
                alert('error2')
            }
        })

        // 대학 학점 로드
        $.ajax({
            url: '/data/common/university/data/',
            type: 'get',
            data: { 'university' : {% if student %}"{{ student.student_university_name }}"{% endif %}
                    'meta_data_code' : 'meta_universityGrade'
            },
            success: function (result) {
                for(var key in result){
                    set_grades(result[key].meta_data_relation_name)
                }
            },
            error: function () {
                alert('error5')
            }
        })

        // 학생 수강기록 로드
        //제작 필요

    })

    // 과목 변경시 이수구분 default변경
    $("#subject_name").change(function(){
        $.ajax({
            url: '/data/university/subject/',
            type: 'get',
            data: { 'university' : {% if student %}"{{ student.student_university_name }}"{% endif %},
                    'subject' : $("#subject_name option:selected").text()
                  },
            success: function (result) {
                var division_name = result[0].subject_completion_division
                $("#subject_division option:contains("+division_name+")").prop("selected", true)
                },
            error: function () {
                alert('error2')
            }
        })
    })

    $("#subject_submit").click(function(){
        $.ajax({
            url: '/history/api/subjects/',
            type: 'post',
            data: {
                'university' : {% if student %}"{{ student.student_university_name }}"{% endif %},
                'history_lecture_code' : 1,
                'history_subject_name' : $("#subject_name option:selected").text(),
                'history_subject_complete_division' : $("#subject_division option:selected").text(),
                'history_student_grade' : $("#grades option:selected").text(),
                'history_grade_year' : $("#year option:selected").text(),
                'history_semester' : $("#semester option:selected").text()
            },
            success: function (result) {
                },
            error: function () {
                alert('error2')
            }
        })
    })

    function set_grades(grade){
        $("#grades").empty()

        // 4.5 만점 (A+, A0, B+ ~)
        if(grade == '4.5') {
            $("#grades").append("<option value='A+'>A+</option>")
            $("#grades").append("<option value='A0'>A0</option>")
            $("#grades").append("<option value='B+'>A+</option>")
            $("#grades").append("<option value='B0'>B0</option>")
            $("#grades").append("<option value='C+'>C+</option>")
            $("#grades").append("<option value='C0'>C0</option>")
            $("#grades").append("<option value='D+'>D+</option>")
            $("#grades").append("<option value='D0'>D0</option>")
        }else if(grade == '4.3') {
            // 4.3 만점 (A+, A0, A0, B+ ~)
            $("#grades").append("<option value='A+'>A+</option>")
            $("#grades").append("<option value='A0'>A0</option>")
            $("#grades").append("<option value='A-'>A-</option>")
            $("#grades").append("<option value='B+'>A+</option>")
            $("#grades").append("<option value='B0'>B0</option>")
            $("#grades").append("<option value='B-'>B-</option>")
            $("#grades").append("<option value='C+'>C+</option>")
            $("#grades").append("<option value='C0'>C0</option>")
            $("#grades").append("<option value='C-'>C-</option>")
            $("#grades").append("<option value='D+'>D+</option>")
            $("#grades").append("<option value='D0'>D0</option>")
            $("#grades").append("<option value='D-'>D-</option>")
        }else if(grade == '4.0') {
            // 4.0 만점 (A+, B, C ~)
            $("#grades").append("<option value='A+'>A+</option>")
            $("#grades").append("<option value='B'>A</option>")
            $("#grades").append("<option value='C'>C</option>")
            $("#grades").append("<option value='D'>D</option>")
        }
    }

</script>
      

{% include "include/footer.html" %}