{% load static %}
{% include "include/header.html" %}
  
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-6" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>대학을 찾아주세요.</p>
                    회원님의 학교에 맞게 일정관리를 도와드립니다.</h2>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="form-group">
                            <label>대학교</label>
                            <select id="universitys" class="form-control select2" style="width:100%">
                            </select>
                        </div>
            </div>
            <div class="row">
                    <div class="form-group">
                            <label>전공</label>
                            <select id="departments" class="form-control select2" style="width:100%">
                            </select>
                        </div>
            </div>
            <div class="row">
                    <div class="form-group">
                            <label>입학년도</label>
                            <select id="admission_year" class="form-control select2" style="width:100%">
                            </select>
                        </div>
            </div>
            <div class="row" style="text-align: center">
                <span>가입과 동시에 개인정보 제공에 동의하게 됩니다.</span>
            </div>
            <div class="row" style="text-align: center"><br>
                <button id="submit" class="btn btn-primary" style="width: 100%">회원가입 완료</button>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>

    var universitys;

    $(document).ready(function(){

        var current_year = new Date().getFullYear() + 1;
        for(var year=1950; year <= current_year ; current_year--) {
            $('#admission_year').append("<option value='"+current_year+"'>"+current_year+" 학번"+"</option>")
        }

        $.ajax({
            url: '/common/universitys/',
            type: 'get',
            data: {},
            success: function (result) {

                for(var key in result){
                    $("#universitys").append("<option value='"+result[key].id+"'>"+result[key].university_name+"</option>");
                }

            },
            error: function () {
                alert('error2')
            }
        })

        $.ajax({
            url: '/common/departments/?university=1',
            type: 'get',
            data: { },
            dataType : "json",
            contentType : "application/json",
            success: function (result) {
                $("#departments").empty()
                for(var key in result){
                    $("#departments").append("<option value='"+result[key].id+"'>"+result[key].college_name+":"+result[key].department_name+"</option>");
                }

            },
            error: function () {
                alert('error2')
            }
        })

    });

    $('#universitys').change(function() {

        var university_id = $(this).val();

        $.ajax({
            url: '/common/departments/',
            type: 'get',
            data: { 'university' : university_id },
            dataType : "json",
            contentType : "application/json",
            success: function (result) {

                $("#departments").empty()

                for(var key in result){
                    $("#departments").append("<option value='"+result[key].id+"'>"+result[key].college_name+":"+result[key].department_name+"</option>");
                }

            },
            error: function () {
                alert('error2')
            }
        })

    })

    $('#submit').click(function(){
        $.ajax({
            url : '/account/student/',
            type: 'post',
            data : {
                university : $('#universitys').val(),
                department : $('#departments').val(),
                admission_year : $('#admission_year').val()
            },
            success: function(result) {
                alert('success')
            },
            error: function () {
                alert('error2')
            }
        })
    })

</script>

{% include "include/footer.html" %}