{% load static %}
{% include "include/header.html" %}
  
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-6" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>대학을 찾아주세요.</p>
                    회원님의 학교에 맞게 일정관리를 도와드립니다.</h2>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="form-group">
                            <label>대학교</label>
                            <select id="universitys" class="form-control select2" style="width:100%">
                            </select>
                        </div>
            </div>
                        <div class="row">
                    <div class="form-group">
                        <label>주 전공</label>
                        <select id="departments" class="form-control select2" style="width:100%" >
                            <option>주 전공을 선택해주세요.</option>
                        </select>
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                    <select id="multiple_departments" class="form-control select2" style="width:100%" >
                        <option>복수 전공을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    <select id="sub_departments" class="form-control select2" style="width:100%" >
                        <option>부 전공을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                            <label>입학년도</label>
                            <select id="admission_year" class="form-control select2" style="width:100%">
                            </select>
                        </div>
            </div>
            <div class="row" style="text-align: center">
                <span>가입과 동시에 개인정보 제공에 동의하게 됩니다.</span>
            </div>
            <div class="row" style="text-align: center"><br>
                <button id="submit" class="btn btn-primary" style="width: 100%">회원가입 완료</button>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>


    $(document).ready(function(){

        //초기 학번 설정
        var current_year = new Date().getFullYear() + 1;
        for(var year=1950; year <= current_year ; current_year--) {
            $('#admission_year').append("<option value='"+current_year+"'>"+current_year+" 학번"+"</option>")
        }

        //대학 정보 로드
        $.ajax({
            url: '/data/common/metainfo/',
            type: 'get',
            data: {
                'meta_data_code' : 'meta_universityList'
            },
            success: function (result) {

                //대학에 맞는 초기 학과 정보 로드
                set_department(result[0].meta_data_relation_code)
                for(var key in result){
                    $("#universitys").append("<option value='"+result[key].meta_data_relation_code+"'>"+result[key].meta_data_relation_name+"</option>");
                }

            },
            error: function () {
                alert('error2')
            }
        })



    });

    //학과 설정
    function set_department(university_code){
        $.ajax({
            url: '/data/common/departments/',
            type: 'get',
            data: { 'meta_data_code' : university_code
            },
            dataType : "json",
            contentType : "application/json",
            success: function (result) {
                //셀렉트 박스 초기화
                $("#departments").empty()
                $("#multiple_departments").empty()
                $("#sub_departments").empty()

                //부/복수 없음 데이터 추가
                $("#multiple_departments").append("<option value='0'>없음</option>")
                $("#sub_departments").append("<option value='0'>없음</option>")

                //학교소속 단과대학: 학과 데이터 추가
                for(var key in result){
                    for(var key2 in result[key].departments){
                     $("#departments").append("<option value='"+result[key].departments[key2].department_code+"'>"+" ( "+result[key].college_name+" ) "+result[key].departments[key2].department_name+"</option>");
                     $("#multiple_departments").append("<option value='"+result[key].departments[key2].department_code+"'>"+" ( "+result[key].college_name+" ) "+result[key].departments[key2].department_name+"</option>");
                     $("#sub_departments").append("<option value='"+result[key].departments[key2].department_code+"'>"+" ( "+result[key].college_name+" ) "+result[key].departments[key2].department_name+"</option>");
                    }
                }


            },
            error: function () {
                alert('error2')
            }
        })
    }


    //대학 수정시 학과 변동
   $('#universitys').change(function() {

        var university_code = $(this).val();
        set_department(university_code)

    })

    $('#submit').click(function(){

        if( ($('#departments').val() === $('#multiple_departments').val()) || ($('#departments').val() === $('#sub_departments').val())){
            alert('학과를 중복 선택하셨습니다')
            return
        }else if((($('#sub_departments').val() === $('#multiple_departments').val()) && ($('#sub_departments').val()!=0) )){
            alert('학과를 중복 선택하셨습니다')
            return
        }

        $.ajax({
            url : '/data/user/student/',
            type: 'post',
            data : {
                university : $('#universitys option:selected').text(),
                department : $('#departments').val(),
                multiple_department : $('#multiple_departments').val(),
                sub_department : $('#sub_departments').val(),
                admission_year : $('#admission_year').val()
            },
            success: function(result) {
                window.location.replace('/')
            },
            error: function () {
                alert('error2')
            }
        })
    })

</script>

{% include "include/footer.html" %}