{% include "include/header.html"%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            졸업 판정
            <small>Graduation Assessment</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Graduation</a></li>
            <li class="active">Assessment</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-warning">
                    <div class="overlay" id="search-check" style="display: none;">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">졸업 판정 대상자 지정</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="search-graduation"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-lg">
                                    <label for="studentId">졸업 판정 대상자 학번</label>
                                    <input type="text" class="form-control text-bold text-center" id="studentId" value="<!-- #autosearch --><!-- userdata.id --><!-- /autosearch -->" placeholder="졸업 판정 대상자의 학번을 입력해주십시오.">
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="search" class="btn btn-default btn-block"><i class="fa fa-search"></i> 졸업 판정하기</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <i class="icon fa fa-info-circle"></i> 다수의 학생에 대한 일괄적인 졸업 판정 처리는 <a href="judge/list"><b>졸업 일괄 판정</b></a>을 이용해주세요.
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="result-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">학적사항 및 졸업 판정 결과</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>학번</label>
                                            <span class="form-control" id="searched_id" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>소속 학과</label>
                                            <span class="form-control" id="searched_major" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>공학인증</label>
                                            <span class="form-control" id="searched_abeek" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>고전독서인증</label>
                                            <span class="form-control" id="searched_book" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>영어인증</label>
                                            <span class="form-control" id="searched_english" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center">&mdash;</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="table-result"
                                               class="table table-bordered table-striped table-hover text-center">
                                            <thead>
                                            <tr>
                                                <th>졸업 판정 결과</th>
                                            </tr>
                                            </thead>
                                            <tbody id="result-tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <p class="text-center">&mdash;</p>
                                <div class="row">
                                    <div class="col-md-12" id="graph">
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-warning"></i> 졸업 판정에 문제가 있다면 <a href="report"><b>시스템 오류 신고</b></a>를 이용해주세요.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Unique Technology</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body text-center">
                        이 서비스는 Mac 개발팀의 고유한 졸업 판정 기술이 적용되었습니다.
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="detail-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">졸업 판정 상세 결과</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="detail-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-student" class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 80px">이수 트랙</th>
                                                    <th>졸업 요건</th>
                                                    <th style="width: 50px">종류</th>
                                                    <th style="width: 50px">지정</th>
                                                    <th style="width: 50px">취득</th>
                                                    <th style="width: 60px">결과</th>
                                                </tr>
                                                </thead>
                                                <tbody id="subject-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-info-circle"></i> 각 졸업 요건을 클릭하시면 판정에 적용된 과목을 확인하실 수 있습니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="subject-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">이수 과목</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="subject-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-studentSubject"
                                                   class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 50px">연도</th>
                                                    <th style="width: 70px">학기</th>
                                                    <th style="width: 80px">학수번호</th>
                                                    <th>교과목 명</th>
                                                    <th style="width: 50px">구분</th>
                                                    <th style="width: 110px">영역</th>
                                                    <th style="width: 50px">학점</th>
                                                    <th style="width: 50px">등급</th>
                                                    <th style="width: 50px">평점</th>
                                                </tr>
                                                </thead>
                                                <tbody id="studentSubject-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-info-circle"></i> 선택하신 졸업 요건의 판정 근거로 활용된 모든 이수 과목을 나타냅니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->

{% include "include/footer.html"%}

<!-- #autosearch -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#search').trigger('click')
    })
</script>
<!-- /autosearch -->

<script type="text/javascript">
    var data, bool = false;

    $('#search').click(function () {
        $('#search').prop('disabled', 'disabled');
        $('#search-check').css('display', '');

        $.ajax({
            url: '/judge/student',
            type: 'get',
            data: { 'id': $('#studentId').val() },
            success: function (result) {
                if (result['result'] === 'success') {
                    data = result;

                    $('#searched_id').text($('#studentId').val());
                    $('#searched_major').text(result['studentData'][0]['dept']);

                    if (result['student']['abeekCertify'] === 0) {
                        $('#searched_abeek').text("미신청")
                    } else if (result['student']['abeekCertify'] === 1) {
                        $('#searched_abeek').text("신청")
                    } else {
                        $('#searched_abeek').text("취득")
                    }

                    if (result['student']['bookCertify'] === true) {
                        $('#searched_book').text("취득")
                    } else {
                        $('#searched_book').text("미취득")
                    }

                    if (result['student']['englishCertify'] === true) {
                        $('#searched_english').text("취득")
                    } else {
                        $('#searched_english').text("미취득")
                    }

                    $('#subject-tbody').empty();

                    for (var key in result['judge']) {
                        var ruleType, ruleResult, track;

                        if (result['judge'].hasOwnProperty(key)) {
                            switch (result['judge'][key]['rule']['ruleType']) {
                                case 1:
                                    ruleType = '학점'; break;

                                case 2:
                                    ruleType = '평점'; break;

                                case 3:
                                    ruleType = '과목'; break;

                                case 4:
                                    ruleType = '영역'; break;

                                case 5:
                                    ruleType = '설계'; break;

                                default:
                                    ruleType = '오류'; break;
                            }

                            switch (result['judge'][key]['rule']['track']) {
                                case 1:
                                    track = '공통'; break;

                                case 2:
                                    track = '주전공'; break;

                                case 3:
                                    track = '복수전공'; break;

                                case 4:
                                    track = '부전공'; break;

                                case 5:
                                    track = '제2전공'; break;

                                case 6:
                                    track = '교직이수'; break;

                                case 7:
                                    track = '공학인증'; break;

                                default:
                                    track = '오류'; break;
                            }

                            if (result['judge'][key]['shortfall'] === true) {
                                ruleResult = '<span class="text-bold" style="color: orange;"><i class="icon fa fa-warning"></i> 미달</span>'
                            } else if (result['judge'][key]['bool'] === true) {
                                ruleResult = '<span class="text-bold" style="color: green;"><i class="icon fa fa-check"></i> 충족</span>'
                            } else if (result['judge'][key]['bool'] === false) {
                                ruleResult = '<span class="text-bold" style="color: red;"><i class="icon fa fa-warning"></i> 부족</span>'
                            } else {
                                ruleResult = '<span class="text-bold" style="color: orangered;"><i class="icon fa fa-warning"></i> 오류</span>'
                            }

                            var percent = parseInt(result['judge'][key]['num']) * 100 / parseInt(result['judge'][key]['rule']['ruleMinimum']);

                            $('#table-student').find('> tbody:last').append('<tr onclick="showSubjectDetail(\'' + result['judge'][key]['rule']['no'] + '\')" style="cursor: pointer"><td>' + track + '</td><td>' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + '</td><td>' + ruleType + '</td><td>' + result['judge'][key]['rule']['ruleMinimum'] + '</td><td>' + result['judge'][key]['num'] + '</td><td>' + ruleResult + '</td></tr>');

                            if (percent >= 100) {
                                percent = 100;
                                $('#graph').append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-success progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            } else if (percent >= 80) {
                                $('#graph').append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-primary progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            } else if (percent >= 50) {
                                $('#graph').append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-warning progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            } else {
                                $('#graph').append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-danger progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            }

                        }
                    }

                    var result_text = $('#result-tbody');

                    result_text.empty();

                    if (result['finalResult'] === false) {
                        result_text.append('<tr><td class="text-bold" style="font-size: 150%; color: red;"><i class="icon fa fa-warning"></i> 졸업 불가</td></tr>')
                    } else if (result['finalResult'] === true) {
                        result_text.append('<tr><td class="text-bold" style="font-size: 150%; color: green;"><i class="icon fa fa-check"></i> 졸업 가능</td></tr>')
                    } else {
                        result_text.append('<tr><td class="text-bold" style="font-size: 150%; color: orangered;"> 오류에 의한 판정 불가</td></tr>')
                    }

                    iziToast.show({
                        title: '알림',
                        message: info00,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500
                    });

                    $('#search-graduation').trigger('click');
                    $('#result-wait').css('display', 'none');
                    $('#detail-wait').css('display', 'none');
                    $('#result-list').trigger('click');
                    $('#detail-list').trigger('click')
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    });

                    $('#search-check').css('display', 'none');
                    $('#search').prop('disabled', '')
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                });

                $('#search-check').css('display', 'none');
                $('#search').prop('disabled', '')
            }
        })
    });

    function showSubjectDetail(ruleNo) {
        $('#studentSubject-tbody').empty();

        for (var key in data['judge']) {
            if (data['judge'].hasOwnProperty(key) && data['judge'][key]['rule']['no'].toString() === ruleNo) {
                for (var subjectKey in data['judge'][key]['validSubject']) {
                    if (data['judge'][key]['validSubject'].hasOwnProperty(subjectKey)) {
                        $('#table-studentSubject').find('> tbody:last').append('<tr><td>' + data['judge'][key]['validSubject'][subjectKey]['year'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['semester'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['subjectNo'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['subjectName'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['category'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['selectArea'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['credit'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['grade'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['score'] + '</td></tr>')
                    }
                }

                break;
            }
        }

        $('#subject-wait').css("display", "none");

        if (!bool) {
            $('#subject-list').trigger("click");
            bool = true
        }
    }
</script>

{% include "include/script.html"%}