{% include "include/header.html"%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            졸업 일괄 판정
            <small>Graduation Batch Assessment</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Graduation</a></li>
            <li class="active">Batch Assessment</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-warning">
                    <div class="overlay" id="search-check" style="display: none;">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">졸업 일괄 판정 대상 지정</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="search-graduation"><i
                                    class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="year">입학연도</label>
                                    <select class="form-control select2" id="year" style="width: 100%;">
                                        <option selected="selected">2018</option>
                                        <option>2017</option>
                                        <option>2016</option>
                                        <option>2015</option>
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                        <option>2011</option>
                                        <option>2010</option>
                                        <option>2009</option>
                                        <option>2008</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="major">학과</label>
                                    <select class="form-control select2" id="major" style="width: 100%;">
                                        <option selected="selected">없음</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="search" class="btn btn-default btn-block"><i class="fa fa-search"></i> 졸업 판정하기</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <i class="icon fa fa-warning"></i> 졸업 예정자에 대한 최종적인 졸업 관련 업무 처리는 <a href="#!"><b>졸업 허가 및 유예 업무</b></a>를 이용해주세요.
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="box box-solid" id="info-wait" style="display: none; padding: 30px 0 30px 0;">
            <div class="box-body text-center">
                <h3><i class="icon fa fa-warning"></i> 요청하신 작업을 처리 중이니 잠시만 기다려주세요.</h3>
                <br>
                <p>요청하신 작업을 처리하는 과정에서 많은 시간이 소요되고 있습니다. (<span id="timer_info"></span>)<br>화면이 멈춘 것처럼 보이는 현상은 시스템 오류가 아니므로 결과가 보여질 때까지 잠시만 기다려주세요.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary collapsed-box">
                    <div class="overlay" id="result-wait">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">졸업 일괄 판정 결과</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-list"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>입학연도</label>
                                    <span class="form-control" id="searched_year" style="width: 100%;">-</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>학과</label>
                                    <span class="form-control" id="searched_major" style="width: 100%;">-</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">&mdash;</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="table-result" class="table table-bordered table-striped table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th style="width: 50px">번호</th>
                                            <th class="hidden-sm">소속</th>
                                            <th>학번</th>
                                            <th>이름</th>
                                            <th class="hidden-sm">성취 그래프</th>
                                            <th style="width: 80px">성취도</th>
                                            <th style="width: 150px">판정 결과</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody-result">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="display: none;">
                        <i class="icon fa fa-warning"></i> 졸업 판정에 문제가 있다면 <a href="report"><b>시스템 오류 신고</b></a>를 이용해주세요.
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

        <div class="modal fade" id="modal-personal-assessment">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">선택하신 학생의 졸업 판정 결과입니다.</h4>
                    </div>
                    <div class="modal-body" id ="modal-personal-assessment-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>학번</label>
                                            <span class="form-control" id="modal_searched_id" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>소속 학과</label>
                                            <span class="form-control" id="modal_searched_major" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center">&mdash;</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="modal-table-result" class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th>졸업 판정 결과</th>
                                                </tr>
                                                </thead>
                                                <tbody id="result-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <p class="text-center">&mdash;</p>
                                <div class="row">
                                    <div class="col-md-12" id="graph">
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-student" class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 80px">이수 트랙</th>
                                                    <th>졸업 요건</th>
                                                    <th style="width: 50px">종류</th>
                                                    <th style="width: 50px">지정</th>
                                                    <th style="width: 50px">취득</th>
                                                    <th style="width: 60px">결과</th>
                                                </tr>
                                                </thead>
                                                <tbody id="subject-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid collapsed-box">
                                            <div class="overlay" id="modal-subject-wait">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                            <div class="box-header with-border">
                                                <h3 class="box-title">이수 과목</h3>
                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="modal-subject-list" readonly><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body" style="display: none;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table id="table-studentSubject" class="table table-bordered table-striped table-hover text-center">
                                                                <thead>
                                                                <tr>
                                                                    <th style="width: 50px">연도</th>
                                                                    <th style="width: 70px">학기</th>
                                                                    <th style="width: 80px">학수번호</th>
                                                                    <th>교과목 명</th>
                                                                    <th style="width: 50px">구분</th>
                                                                    <th style="width: 110px">영역</th>
                                                                    <th style="width: 50px">학점</th>
                                                                    <th style="width: 50px">등급</th>
                                                                    <th style="width: 50px">평점</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="studentSubject-tbody">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer" style="display: none;">
                                                <i class="icon fa fa-info-circle"></i> 각 졸업 요건을 클릭하시면 판정에 적용된 과목을 확인하실 수 있습니다.
                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->

{% include "include/footer.html"%}
<script type="text/javascript">
    var data, bool = false;
    var timer, time;
    var major = $('#major');
    var result_list = $('#tbody-result');

    $('.select2').select2();

    $('#year').change(function () {
        major.prop('disabled', 'disabled');

        $.ajax({
            url: '/rule/search/department',
            type: 'get',
            data: { 'year': $('#year').val() },
            success: function (result) {
                if (result['result'] === 'success') {
                    major.empty();

                    if (!result['count']) {
                        iziToast.show({
                            title: '알림',
                            message: info01 + alert03,
                            theme: 'light',
                            color: 'red',
                            position: 'topRight',
                            timeout: 3000
                        })
                    } else {
                        for (var key in result['departments']) {
                            if (result['departments'].hasOwnProperty(key)) {
                                major.append('<option value="' + result['departments'][key]['no'] + '">' + result['departments'][key]['name'] + '</option>')
                            }
                        }

                        major.prop('disabled', '')
                    }
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    });

    $('#search').click(function () {
        startTimer();

        $('#search').prop('disabled', 'disabled');
        $('#search-check').css("display", "");

        $.ajax({
            url: '/judge/studentList',
            type: 'get',
            data: { 'year': $('#year').find('option:selected').val(), 'deptName': $('#major').find('option:selected').text() },
            success: function (result) {
                stopTimer();

                if (result['result'] === 'success') {
                    data = result;

                    $('#searched_year').text($('#year').find('option:selected').val());
                    $('#searched_major').text($('#major').find('option:selected').text());

                    result_list.empty();

                    var count = 1;

                    for (var key in result['studentData']) {
                        var ruleResult;

                        if (result['studentData'].hasOwnProperty(key)) {
                            if (result['judgeList'][key]['finalFlag'] === false) {
                                ruleResult = '<span style="color: red;"><i class="icon fa fa-warning"></i> 졸업 불가</span>'
                            } else if (result['judgeList'][key]['finalFlag'] === true) {
                                ruleResult = '<span style="color: green;"><i class="icon fa fa-check"></i> 졸업 가능</span>'
                            } else {
                                ruleResult = '<span style="color: orangered;">오류에 의한 판정 불가</span>'
                            }

                            var percent = parseInt(result['judgeList'][key]['acceptNum']) * 100 / parseInt(result['judgeList'][key]['totalNum']);

                            if (percent >= 100) {
                                percent = 100;
                                result_list.append('<tr data-toggle="modal" data-target="#modal-personal-assessment" onclick="showAssessmentDetail(\'' + result['studentData'][key] + '\')" style="cursor: pointer"><td>' + count + '</td><td class="hidden-sm">' + $('#major').find('option:selected').text() + '</td><td>' + result['studentData'][key] + '</td><td>홍길동</td><td class="progress-group hidden-sm"><div class="progress sm"><div class="progress-bar progress-bar-success progress-bar-striped" style="width: ' + percent + '%"></div></div></td><td><b>' + result['judgeList'][key]['acceptNum'] + '</b> / ' + result['judgeList'][key]['totalNum'] + '</td><td>' + ruleResult + '</td></tr>')
                            } else if (percent >= 80) {
                                result_list.append('<tr data-toggle="modal" data-target="#modal-personal-assessment" onclick="showAssessmentDetail(\'' + result['studentData'][key] + '\')" style="cursor: pointer"><td>' + count + '</td><td class="hidden-sm">' + $('#major').find('option:selected').text() + '</td><td>' + result['studentData'][key] + '</td><td>홍길동</td><td class="progress-group hidden-sm"><div class="progress sm"><div class="progress-bar progress-bar-primary progress-bar-striped" style="width: ' + percent + '%"></div></div></td><td><b>' + result['judgeList'][key]['acceptNum'] + '</b> / ' + result['judgeList'][key]['totalNum'] + '</td><td>' + ruleResult + '</td></tr>')
                            } else if (percent >= 50) {
                                result_list.append('<tr class="warning" data-toggle="modal" data-target="#modal-personal-assessment" onclick="showAssessmentDetail(\'' + result['studentData'][key] + '\')" style="cursor: pointer"><td>' + count + '</td><td class="hidden-sm">' + $('#major').find('option:selected').text() + '</td><td>' + result['studentData'][key] + '</td><td>홍길동</td><td class="progress-group hidden-sm"><div class="progress sm"><div class="progress-bar progress-bar-warning progress-bar-striped" style="width: ' + percent + '%"></div></div></td><td><b>' + result['judgeList'][key]['acceptNum'] + '</b> / ' + result['judgeList'][key]['totalNum'] + '</td><td>' + ruleResult + '</td></tr>')
                            } else {
                                result_list.append('<tr class="danger" data-toggle="modal" data-target="#modal-personal-assessment" onclick="showAssessmentDetail(\'' + result['studentData'][key] + '\')" style="cursor: pointer"><td>' + count + '</td><td class="hidden-sm">' + $('#major').find('option:selected').text() + '</td><td>' + result['studentData'][key] + '</td><td>홍길동</td><td class="progress-group hidden-sm"><div class="progress sm"><div class="progress-bar progress-bar-danger progress-bar-striped" style="width: ' + percent + '%"></div></div></td><td><b>' + result['judgeList'][key]['acceptNum'] + '</b> / ' + result['judgeList'][key]['totalNum'] + '</td><td>' + ruleResult + '</td></tr>')
                            }

                            count++;
                        }
                    }

                    iziToast.show({
                        title: '알림',
                        message: info00,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500
                    });

                    $('#search-graduation').trigger("click");
                    $('#result-wait').css("display", "none");
                    $('#result-list').trigger("click")
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    });

                    $('#search-check').css('display', 'none');
                    $('#search').prop('disabled', '')
                }
            },
            error: function () {
                stopTimer();

                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                });

                $('#search-check').css("display", "none");
                $('#search').prop('disabled', '')
            }
        })
    });

    function startTimer() {
        time = 0;
        timer = setInterval("increaseTimer()", 1000)
    }

    function increaseTimer() {
        if (++time > 3) {
            $('#timer_info').text(time + "초")
        } else if (time === 3) {
            $('#timer_info').text(time + "초");
            $('#info-wait').css("display", "")
        }
    }

    function stopTimer() {
        clearInterval(timer);
        $('#info-wait').css("display", "none")
    }

    function showAssessmentDetail(studentId) {
        $.ajax({
            url: '/judge/student',
            type: 'get',
            data: { 'id': studentId },
            success: function (result) {
                if (result['result'] === 'success') {
                    data = result;

                    $('#modal_searched_id').text(studentId);
                    $('#modal_searched_major').text(result['studentData'][0]['dept']);

                    $('#subject-tbody').empty();
                    $('#studentSubject-tbody').empty();

                    var graph = $('#graph');

                    graph.empty();

                    var ruleType, ruleResult, track;

                    for (var key in result['judge']) {
                        if (result['judge'].hasOwnProperty(key)) {
                            switch (result['judge'][key]['rule']['ruleType']) {
                                case 1:
                                    ruleType = '학점';
                                    break;

                                case 2:
                                    ruleType = '평점';
                                    break;

                                case 3:
                                    ruleType = '과목';
                                    break;

                                case 4:
                                    ruleType = '영역';
                                    break;

                                case 5:
                                    ruleType = '설계';
                                    break;

                                default:
                                    ruleType = '오류';
                                    break;
                            }

                            switch (result['judge'][key]['rule']['track']) {
                                case 1:
                                    track = '공통';
                                    break;

                                case 2:
                                    track = '주전공';
                                    break;

                                case 3:
                                    track = '복수전공';
                                    break;

                                case 4:
                                    track = '부전공';
                                    break;

                                case 5:
                                    track = '제2전공';
                                    break;

                                case 6:
                                    track = '교직이수';
                                    break;

                                case 7:
                                    track = '공학인증';
                                    break;

                                default:
                                    track = '오류';
                                    break;
                            }

                            if (result['judge'][key]['shortfall'] === true) {
                                ruleResult = '<span class="text-bold" style="color: orange;"><i class="icon fa fa-warning"></i> 미달</span>'
                            } else if (result['judge'][key]['bool'] === true) {
                                ruleResult = '<span class="text-bold" style="color: green;"><i class="icon fa fa-check"></i> 충족</span>'
                            } else if (result['judge'][key]['bool'] === false) {
                                ruleResult = '<span class="text-bold" style="color: red;"><i class="icon fa fa-warning"></i> 부족</span>'
                            } else {
                                ruleResult = '<span class="text-bold" style="color: orangered;"><i class="icon fa fa-warning"></i> 오류</span>'
                            }

                            var percent = parseInt(result['judge'][key]['num']) * 100 / parseInt(result['judge'][key]['rule']['ruleMinimum']);

                            $('#table-student').find('> tbody:last').append('<tr onclick="showSubjectDetail(\'' + result['judge'][key]['rule']['no'] + '\')" style="cursor: pointer"><td>' + track + '</td><td>' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + '</td><td>' + ruleType + '</td><td>' + result['judge'][key]['rule']['ruleMinimum'] + '</td><td>' + result['judge'][key]['num'] + '</td><td>' + ruleResult + '</td></tr>');

                            if (percent >= 100) {
                                percent = 100;
                                graph.append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-success progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            } else if (percent >= 80) {
                                graph.append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-primary progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            } else if (percent >= 50) {
                                graph.append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-warning progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            } else {
                                graph.append('<div class="progress-group"><span class="progress-text">' + result['judge'][key]['rule']['systemSubjectGroup']['name'] + ' ' + ruleType + '</span><span class="progress-number"><b>' + result['judge'][key]['num'] + '</b> / ' + result['judge'][key]['rule']['ruleMinimum'] + '</span><div class="progress sm active"><div class="progress-bar progress-bar-danger progress-bar-striped" style="width: ' + percent + '%"></div></div></div>')
                            }

                        }
                    }

                    var result_text = $('#result-tbody');

                    result_text.empty();

                    if (result['finalResult'] === false) {
                        result_text.append('<tr><td class="text-bold" style="font-size: 150%; color: red;"><i class="icon fa fa-warning"></i> 졸업 불가</td></tr>')
                    } else if (result['finalResult'] === true) {
                        result_text.append('<tr><td class="text-bold" style="font-size: 150%; color: green;"><i class="icon fa fa-check"></i> 졸업 가능</td></tr>')
                    } else {
                        result_text.append('<tr><td class="text-bold" style="font-size: 150%; color: orangered;"> 오류에 의한 판정 불가</td></tr>')
                    }

                    iziToast.show({
                        title: '알림',
                        message: info00,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500
                    })
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    }

    function showSubjectDetail(ruleNo) {
        $('#studentSubject-tbody').empty();

        for (var key in data['judge']) {
            if (data['judge'].hasOwnProperty(key) && data['judge'][key]['rule']['no'].toString() === ruleNo) {
                for (var subjectKey in data['judge'][key]['validSubject']) {
                    if (data['judge'][key]['validSubject'].hasOwnProperty(subjectKey)) {
                        $('#table-studentSubject').find('> tbody:last').append('<tr><td>' + data['judge'][key]['validSubject'][subjectKey]['year'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['semester'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['subjectNo'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['subjectName'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['category'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['selectArea'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['credit'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['grade'] + '</td><td>' + data['judge'][key]['validSubject'][subjectKey]['score'] + '</td></tr>')
                    }
                }

                break;
            }
        }

        $('#modal-subject-wait').css("display", "none");

        if (!bool) {
            $('#modal-subject-list').trigger("click");
            bool = true
        }
    }
</script>

{% include "include/script.html"%}