{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> campy | login </title>
  
  <link rel="stylesheet" href="{% static 'dist/font-awesome/4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/bootstrap-plugins/AdminLTE/3.0.0/alpha.2/dist/css/adminlte.css' %}">
  <link rel="stylesheet" href="{% static 'dist/bootstrap-plugins/AdminLTE/3.0.0/alpha.2/plugins/iCheck/flat/blue.css' %}">

</head>

  <body class="hold-transition login-page">
    <div class='body'>

      <div class="login-box">
        
        <div class="login-logo">
          <h1>SEJONG University</h1>
          <h2>CAMPY</h2>
        </div><!-- /.login-logo -->

        <div class="card">
          
          <div class="card-body login-card-body">

              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
              </div>

              <div class="form-group has-feedback">
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>

              <div class="row">
                <div class="col-8"></div><!-- /.col -->
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-primary">로그인</button>
                </div><!-- /.col -->
              </div>

            <p>
              <a href="#">Search Email</a><br>
              <a href="#">Search password</a>
            </p>
          
          </div><!-- /.login-card-body -->
        </div>

      </div><!-- /.login-box -->

    </div><!-- /.body -->
    <script>
      
    </script>

  </body>
</html>