{% load static %}
{% include "include/header.html" %}
  <!-- <body class="hold-transition login-page"></body> -->
    <div id='body'>

      <div class="login-box">
      
        <div class="login-logo">
          <h1>대학생활 플랫폼</h1>
          <h2>Campy</h2>
        </div><!-- /.login-logo -->

        <div class="card">
          <div class="card-body login-card-body">

              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
              </div>

              <div class="form-group has-feedback">
                <div class="input-group mb-3">
                  <input type="password" class= "form-control" placeholder="Password">
                </div>
              </div>

              <div class="row">
                <div class="col-8"></div><!-- /.col -->
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-primary" onclick="logging()">로그인</button>
                </div><!-- /.col -->
              </div>

            <p>
              <a href="#">Search Email</a><br>
              <a href="#">Search password</a>
            </p>

          </div><!-- /.login-card-body -->
        </div>
      </div><!-- /.login-box -->

    </div><!-- /.body -->
    

    <script>
      function logging(params) {
        $.ajax({
          type : "POST",
          url : domain_name+'/data-test',
          data : {},
          success : function(data){
            if(data=='true')
            {
              window.location.href = domain_name+'/index';
            }
          },
          error : function(xhr, status, error) {
            // alert(error);
          }
        });
      }
    </script>

</div>
</body>
</html>