{% load static %}
{% include "include/header.html" %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-6" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>개인정보 변경</p>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="form-group">
                        <label>이메일</label>
                        <input class="form-control" style="width:100%"  id="email" type="email" placeholder="이메일을 입력해주세요.">
                    </div>
            </div>
            <div class="row">
                    <div class="form-group">
                            <div class="form-group">
                                <label>이름</label>
                                <input class="form-control" style="width:100%"  id="name" type="email" placeholder="이름을 입력해주세요.">
                            </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>대학교</label>
                    <select class="form-control select2" style="width:100%"  id="university">
                        <option>대학을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>주 전공</label>
                    <select class="form-control select2" style="width:100%"  id="major_subject">
                        <option>주 전공을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                        <select class="form-control select2" style="width:100%"  id="major_subject">
                             <option>복수 전공을 선택해주세요.</option>
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    <select class="form-control select2" style="width:100%"  id="major_subject">
                        <option>부 전공을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>입학년도</label>
                        <select class="form-control select2" style="width:100%" id="admission_year">
                            <option>입학년도를 설정해주세요</option>
                        </select>
                    </div>
            </div>
            <div class="row" style="text-align: center"><br>
                <button class="btn btn-primary" style="width: 100%">수정 완료</button>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<script>
    $(document).ready(function(){

        $.ajax({
            url: '/account/api/studentinfo/',
            type: 'get',
            data: { 'university' : university_id },
            dataType : "json",
            contentType : "application/json",
            success: function (result) {

                $("#departments").empty()
                $("#multiple_departments").empty()
                $("#sub_departments").empty()

                //부전공 복수전공 초기값 설정
                $("#multiple_departments").append("<option value='0'>없음</option>");
                $("#sub_departments").append("<option value='0'>없음</option>");


                for(var key in result){
                    $("#departments").append("<option value='"+result[key].id+"'>"+result[key].college_name+":"+result[key].department_name+"</option>");
                    $("#multiple_departments").append("<option value='"+result[key].id+"'>"+result[key].college_name+":"+result[key].department_name+"</option>");
                    $("#sub_departments").append("<option value='"+result[key].id+"'>"+result[key].college_name+":"+result[key].department_name+"</option>");
                }

            },
            error: function () {
                alert('error2')
            }
        })

    };
</script>

{% include "include/footer.html" %}