{% include "include/header.html"%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <!-- title -->
            <small><!-- subtitle --></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-newspaper-o"></i> Dashboard</a></li>
            <li class="active">Notice</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">졸업 공지사항</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped table-hover text-center" id="table-notice">
                            <thead>
                            <tr>
                                <th style="width: 80px; min-width: 80px">번호</th>
                                <th style="min-width: 300px">제목</th>
                                <th style="width: 120px; min-width: 100px">작성자</th>
                                <th style="width: 120px; min-width: 100px">날짜</th>
                                <th style="width: 100px; min-width: 80px">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--#posts-->
                            <tr onclick="read(<!--no-->)" style="cursor: pointer">
                                <td><!--no--></td>
                                <td><!--title--></td>
                                <td><!--author.name--></td>
                                <td><!--date--></td>
                                <td><!--hits--></td>
                            </tr>
                            <!--/posts-->
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-publish">
                            등록
                        </button>
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#!">&laquo;</a></li>
                            <li><a href="#!" onclick="reload(1)">1</a></li>
                            <li><a href="#!" onclick="reload(2)">2</a></li>
                            <li><a href="#!" onclick="reload(3)">3</a></li>
                            <li><a href="#!">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>

            <div class="modal fade" id="modal-read">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-read-title"></h4>
                        </div>
                        <div class="modal-body" id="modal-read-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">삭제</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal modal-danger fade" id="modal-delete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">해당 공지사항을 삭제하시겠습니까?</h4>
                        </div>
                        <div class="modal-body">
                            <p>해당 공지사항을 정말 삭제하시겠습니까?</p>
                            <p><b>삭제하게 되면 어떠한 사유로도 다시 복구할 수 없습니다.<br>다시 한 번 신중하게 결정하여 주십시오.</b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-outline" onclick="remove()">삭제</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="modal-publish">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">새로운 공지사항을 등록합니다.</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" name="title" id="title" placeholder="제목">
                                    <span class="form-control-feedback"></span>
                                </div>

                                <textarea id="editor1" name="editor1" rows="10" cols="80"></textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" id="send">등록</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->

{% include "include/footer.html"%}

<!-- CK Editor -->
<script src="/webjars/AdminLTE/2.4.2/bower_components/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    var nowNo = 0

    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1')
    })

    $('#send').click(function () {
        $.ajax({
            url: '/notice',
            type: 'post',
            data: { 'title': $('#title').val(), 'content': CKEDITOR.instances['editor1'].getData() },
            success: function (result) {
                if (result === 'success') {
                    iziToast.show({
                        title: '알림',
                        message: info00,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500,
                        onOpening: function () {
                            $('#modal-publish').modal('hide')},
                        onOpened: function () {
                            reload(1)
                        }
                    })
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    })

    function reload (pageNo) {
        $.ajax({
            url: '/notice/list',
            type: 'get',
            data: { 'pageNo': pageNo },
            success: function (result) {
                if (result['result'] === 'success') {
                    iziToast.show({
                        title: '알림',
                        message: info02,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500
                    })

                    $('#table-notice').find('> tbody').empty()

                    for (key in result['notices']) {
                        $('#table-notice').find('> tbody:last').append('<tr onclick="read(' + result['notices'][key]['no'] + ')" style="cursor: pointer"><td>' + result['notices'][key]['no'] + '</td><td>' + result['notices'][key]['title'] + '</td><td>' + result['notices'][key]['author']['name'] + '</td><td>' + result['notices'][key]['date'] + '</td><td>' + result['notices'][key]['hits'] + '</td></tr>')
                    }
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    }

    function read (noticeNo) {
        $.ajax({
            url: '/notice/read',
            type: 'get',
            data: { 'noticeNo': noticeNo },
            success: function (result) {
                if (result['result'] === 'success') {
                    nowNo = noticeNo
                    $('#modal-read-title').html(result['notice']['title'] + ' <small>/ ' + result['notice']['author']['name'] + ' (' + result['notice']['date'] + ' ' + result['notice']['time'] + ') </small>')
                    $('#modal-read-body').html(result['notice']['content'])
                    $('#modal-read').modal('show')
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }

        })
    }

    function remove () {
        $.ajax({
            url: '/notice/delete',
            type: 'get',
            data: { 'noticeNo': nowNo },
            success: function (result) {
                if (result === 'success') {
                    iziToast.show({
                        title: '알림',
                        message: info00,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500,
                        onOpening: function () {
                            $('#modal-read').modal('hide')
                            $('#modal-delete').modal('hide')},
                        onOpened: function () {
                            reload(1)
                        }
                    })
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }

        })
    }
</script>

{% include "include/script.html"%}