{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        졸업 요건 관리
        <small>Gradution Yogun Management</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 졸업 요건 관리</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4>STEP 1: 졸업 요건 검색</h4>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>대학교</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>1</option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>입학년도</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>1</option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>학과</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>1</option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>이수트랙</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>1</option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary" style="width: 100%">졸업 요건 조회하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-12">
                            <span><i class="fa fa-warning"></i>졸업 요건이 검색되지 않으면 <a href="#"><b>여기</b></a>로 신고 바랍니다.</span>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4>STEP 2: 졸업 요건 확인 및 설정</h4>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>대학교</label>
                                    <div class="form-control">
                                        대학교 자동입력
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>입학년도</label>
                                    <div class="form-control">
                                        입학년도 자동입력
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>학과</label>
                                    <div class="form-control">
                                        학과 자동입력
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>이수트랙</label>
                                    <div class="form-control">
                                        이수트랙 자동입력
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary" style="width: 100%">
                                    졸업 요건 재검색
                                </button>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs" style="width: 80px">요건 번호</th>
                                            <th>과목 그룹 이름</th>
                                            <th style="width: 80px">요건 종류</th>
                                            <th style="width: 80px">지정 점수</th>
                                            <th class="hidden-xs" style="width: 100px">관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>
                                                <button class="btn btn-xs btn-warning">수정</button>
                                                <button class="btn btn-xs btn-danger">삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-primary btn-xs">새 요건 추가</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        각 과목 그룹에 해당하는 이수 교과목은 과목 그룹 관리에서 지정하실 수 있습니다.
                    </div>
                </div>
            </div>
        </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% include "include/footer.html" %}