{% include "include/header.html"%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            졸업 이수 시뮬레이션
            <small>Graduation Simulation</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-road"></i> Graduation</a></li>
            <li class="active">Simulation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-warning">
                    <div class="overlay" id="search-spin" style="display: none;">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="overlay" id="search-check" style="display: none;">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">졸업 이수 시뮬레이션 대상자 지정</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="search-graduation"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-lg">
                                    <label for="studentId">졸업 이수 시뮬레이션 대상자 학번</label>
                                    <input type="text" class="form-control text-bold text-center" id="studentId" value="<!-- #autosearch --><!-- userdata.id --><!-- /autosearch -->" placeholder="졸업 이수 시뮬레이션 대상자의 학번을 입력해주십시오.">
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="search" class="btn btn-default btn-block"><i class="fa fa-search"></i> 시뮬레이션 시작하기</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <i class="icon fa fa-info-circle"></i> 졸업 이수 시뮬레이션은 미래의 결과 예측을 위한 참고용으로만 활용하시기 바랍니다. 교과과정의 개정으로 인하여 이용 시점에 따라 결과가 달라질 수 있습니다.
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="result-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">학적사항</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>학번</label>
                                            <span class="form-control" id="searched_id" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>소속 학과</label>
                                            <span class="form-control" id="searched_major" style="width: 100%;">-</span>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-block btn-default" id="result-close"><i class="fa fa-undo"></i> 시뮬레이션 대상자 재지정</button>
                                    </div>
                                </div>
                                -->
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-info-circle"></i> 졸업 이수 시뮬레이션은 미래의 결과 예측을 위한 참고용으로만 활용하시기 바랍니다. 교과과정의 개정으로 인하여 이용 시점에 따라 결과가 달라질 수 있습니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="selected-subject-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">담은 과목</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="selected-subject-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-selected-subject"
                                                   class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 80px">학수번호</th>
                                                    <th>교과목 명</th>
                                                    <th style="width: 110px">영역</th>
                                                    <th style="width: 50px">학점</th>
                                                    <th style="width: 50px">해제</th>
                                                </tr>
                                                </thead>
                                                <tbody id="selected-subject-tbody">
                                                <tr>
                                                    <td colspan="5">담은 과목이 없습니다.
                                                    <br>수강 가능 과목에서 과목을 담아주세요.</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-block btn-default" id="simulation-execution" disabled><i class="fa fa-check"></i> 시뮬레이션 실행</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-info-circle"></i> 수강 가능 과목 목록에서 선택하신 모든 과목입니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Unique Technology</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body text-center">
                        이 서비스는 404E 개발팀의 고유한 졸업 판정 기술이 적용되었습니다.
                        <br>
                        <button onclick="location.href='/promo'" class="btn btn-default btn-block" style="margin-top: 10px;"><i class="fa fa-search"></i> 자세히 알아보기</button>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="selectable-subject-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">수강 가능 과목</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="selectable-subject-list"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="department">개설 학과</label>
                                            <select class="form-control select2" id="department" style="width: 100%;">
                                                <option value="1" selected="selected">대양휴머니티칼리지 (교양학부)</option>
                                                <option value="2">컴퓨터공학과</option>
                                                <option value="3">소프트웨어학과 / 디지털콘텐츠학과</option>
                                                <option value="4">정보보호학과</option>
						                        <option value="5">데이터사이언스학과</option>
						                        <option value="6">지능기전공학부 스마트기기공학전공</option>
						                        <option value="7">지능기전공학부 무인이동체공학전공</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="select-subject-body" class="table-responsive" style="height: 500px; overflow-y: auto;">
                                            <table id="table-selectable-subject"
                                                   class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 80px">학수번호</th>
                                                    <th>교과목 명</th>
                                                    <th style="width: 50px">구분</th>
                                                    <th style="width: 110px">영역</th>
                                                    <th style="width: 50px">학점</th>
                                                </tr>
                                                </thead>
                                                <tbody id="selectable-subject-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-warning"></i> 개설 과목의 구분은 시뮬레이션하는 과정에서 학생마다 다르게 적용될 수 있으므로 유의하시기 바랍니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="detail-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">시뮬레이션 상세 결과</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="detail-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-student"
                                                   class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 80px">이수 트랙</th>
                                                    <th>졸업 요건</th>
                                                    <th style="width: 50px">종류</th>
                                                    <th style="width: 50px">지정</th>
                                                    <th style="width: 50px">취득</th>
                                                    <th style="width: 60px">결과</th>
                                                </tr>
                                                </thead>
                                                <tbody id="subject-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-block btn-default" id="simulation-close"><i class="fa fa-undo"></i> 시뮬레이션 과목 재지정</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-info-circle"></i> 각 졸업 요건을 클릭하시면 시뮬레이션에 적용된 과목을 확인하실 수 있습니다.
                                <br><span class="text-danger text-bold"><i class="icon fa fa-warning"></i> 오픈 베타 서비스에서는 타 학과 전선 인정 교과목을 지원하지 않습니다.</span>
                                <br><i class="icon fa fa-warning"></i> 평균 평점에 대한 졸업 요건은 시뮬레이션이 적용되지 않으므로 이용에 유의하시기 바랍니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid collapsed-box">
                            <div class="overlay" id="subject-wait">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">적합한 졸업 요건을 찾지 못한 이수 과목</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="subject-list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-remainedSubject"
                                                   class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                <tr>
                                                    <th style="width: 50px">연도</th>
                                                    <th style="width: 70px">학기</th>
                                                    <th style="width: 80px">학수번호</th>
                                                    <th>교과목 명</th>
                                                    <th style="width: 50px">구분</th>
                                                    <th style="width: 110px">영역</th>
                                                    <th style="width: 50px">학점</th>
                                                </tr>
                                                </thead>
                                                <tbody id="remainedSubject-tbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="display: none;">
                                <i class="icon fa fa-info-circle"></i> 공통 이수 트랙의 총합을 제외한 다른 어떠한 졸업 요건에도 해당하지 않는 이수 과목을 나타냅니다. <i><a data-toggle="modal" data-target="#modal-info" href="#!">여기에서 이에 대한 자세한 설명을 확인하실 수 있습니다.</a></i>
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="modal fade" id="modal-subject-list">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">선택하신 졸업 요건의 판정 근거로 활용된 모든 이수 과목 목록입니다.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-bold">이수 과목</p>
                                <div class="table-responsive">
                                    <table id="table-studentSubject"
                                           class="table table-bordered table-striped table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th style="width: 50px">연도</th>
                                            <th style="width: 70px">학기</th>
                                            <th style="width: 80px">학수번호</th>
                                            <th>교과목 명</th>
                                            <th style="width: 50px">구분</th>
                                            <th style="width: 110px">영역</th>
                                            <th style="width: 50px">학점</th>
                                        </tr>
                                        </thead>
                                        <tbody id="studentSubject-tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-bold" style="font-size: 120%; margin-top: 10px;"><strong>—</strong></p>
                                <p class="text-bold" style="font-size: 120%;"><i>부족한 졸업 요건을 어떻게 채우면 좋을까요?</i></p>
                                <p class="text-bold">다음 과목들은 필수로 이수하여야 합니다.</p>
                                <table class="table table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th style="width: 80px">학수번호</th>
                                        <th>과목 이름</th>
                                        <th style="width: 120px">영역</th>
                                        <th style="width: 50px">학점</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-recommend-subject">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">닫기</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="modal-info">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">일부 이수 과목이 적합한 졸업 요건을 찾지 못하는 이유는 무엇입니까?</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>안녕하세요.
                            <!--#userdata--><!--userdata.name--> 님<!--/userdata-->
                            <!--^userdata-->손님<!--/userdata-->
                            <br>세종대학교 404E 개발팀입니다.</p>
                        <p>우리 개발팀은 정확한 졸업 판정 결과를 제공하기 위한 최선의 노력을 다하고 있습니다.
                            <br>그러나 다음과 같은 특수한 상황에서 일부 이수 과목이 적합한 졸업 요건을 찾지 못하여 불가피하게 부정확한 결과가 발생할 수도 있습니다.</p>
                        <p></p>
                        <p>1. <span class="text-bold" style="color: blue;">자교로 인정되는 교과목을 수강한 경우 (이 경우는 정상적으로 분류된 것입니다.)</span>
                            <br>2. 필수 이수 과목에 해당하였던 과목이 지정 해제된 경우 (이 경우는 정상적으로 분류된 것입니다.)
                            <br>3. 편입, 교환학생 등의 사유로 타 학교에서 수강한 과목 중의 일부를 본교의 이수 과목으로 인정받은 경우
                            <br>4. 학석사 연계과정 예비생으로 대학원 과정의 교과목을 이수한 경우
                            <br>5. 개정된 교과과정(수강편람)이 본 시스템에 정상적으로 반영되지 않은 경우</p>
                        <p></p>
                        <p>판정 결과에 문제가 있는 경우에는 반드시 졸업 판정 결과를 첨부하여 개발팀에 문의하여 주시기 바랍니다.</p>
                        <p>고맙습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->

{% include "include/footer.html"%}

<!-- #autosearch -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#search').trigger('click');
        $('#studentId').prop('readonly', 'readonly')
    })
</script>
<!-- /autosearch -->

<script type="text/javascript">
    RULE_TYPE_NAME = ['학점', '평점', '과목', '영역', '설계'];
    TRACK_TYPE_NAME = ['공통', '주전공', '복수전공', '부전공', '제2전공', '교직이수', '공학인증'];

    var subject = [], data, inSearching = false;
    var selected_subject_list = $('#table-selected-subject');

    $('.select2').select2();

    $('#department').change(function() {
        $.ajax({
            url: '/simulation/subjectList',
            type: 'get',
            data: { 'dept_no': $('#department').val() },
            success: function (result) {
                if (result['result'] === 'success') {
                    $('#selectable-subject-tbody').empty();

                    for (var key in result['subjectList']) {
                        if (result['subjectList'].hasOwnProperty(key)) {
                            $('#table-selectable-subject').find('> tbody:last').append('<tr onclick="selectSubject(\'' + result['subjectList'][key]['academicNo'] + '\', \'' + result['subjectList'][key]['academicName'] + '\', \'' + result['subjectList'][key]['domain'] + '\', \'' + result['subjectList'][key]['credit'] + '\')" style="cursor: pointer"><td>' + result['subjectList'][key]['academicNo'] + '</td><td>' + result['subjectList'][key]['academicName'] + '</td><td>' + result['subjectList'][key]['category'] + '</td><td>' + result['subjectList'][key]['domain'] + '</td><td>' + result['subjectList'][key]['credit'] + '</td></tr>');
                        }
                    }

                    $('#select-subject-body').scrollTop(0);
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    });

                    $('#search-check').css('display', 'none');
                    $('#search').prop('disabled', '')
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                });

                $('#search-check').css('display', 'none');
                $('#search').prop('disabled', '')
            }
        })
    });

    $('#search').click(function() { doSimulation() });

    $('#simulation-close').click(function() {
        $('#simulation-execution').prop('disabled', '');
        $('#detail-wait').css('display', '');
        $('#subject-wait').css('display', '');
        $('#selectable-subject-wait').css('display', 'none');
        $('#detail-list').trigger('click');
        $('#subject-list').trigger("click");
        $('#selectable-subject-list').trigger('click')
    });

    $('#simulation-execution').click(function() {
        doSimulation();

        $('#simulation-execution').prop('disabled', 'disabled');
        $('#selectable-subject-wait').css('display', '');
        $('#detail-wait').css('display', 'none');
        $('#subject-wait').css('display', 'none');
        $('#selectable-subject-list').trigger('click');
        $('#detail-list').trigger('click');
        $('#subject-list').trigger("click");
    });

    function doSimulation () {
        if (inSearching === false) {
            $('#search').prop('disabled', 'disabled');
            $('#search-spin').css('display', '');
        }

        $('#subject-tbody').empty();
        $('#remainedSubject-tbody').empty();

        $.ajax({
            url: '/simulation/rejudge',
            type: 'post',
            data: { 'id': $('#studentId').val(),
                'subjectList': JSON.stringify(subject) },
            success: function (result) {
                if (result['result'] === 'success') {
                    data = result;
                    if (inSearching === false) {
                        $('#searched_id').text($('#studentId').val());
                        $('#searched_major').text(result['student']['dept'])
                    }

                    for (var key in result['simulation']['trackResults']) {
                        if (result['simulation']['trackResults'].hasOwnProperty(key)) {
                            for(var ruleKey in result['simulation']['trackResults'][key]['ruleResults']) {
                                var ruleType, ruleResult, track;

                                if (result['simulation']['trackResults'][key]['ruleResults'].hasOwnProperty(ruleKey)) {
                                    ruleType = RULE_TYPE_NAME[result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['rule']['ruleType'] - 1];
                                    track = TRACK_TYPE_NAME[result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['rule']['track'] - 1];

                                    if (result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['shortfall'] === true) {
                                        ruleResult = '<span class="text-bold" style="color: orange;"><i class="icon fa fa-warning"></i><a style="color: orange" class="top" title="" data-placement="top" data-toggle="tooltip" href="#!" data-original-title="졸업 요건의 지정된 기준은 만족하였으나, 아직 이수하지 않은 필수 이수 지정 과목이 존재합니다."> 미달</a></span>'
                                    } else if (result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['satisfied'] === true) {
                                        ruleResult = '<span class="text-bold" style="color: green;"><i class="icon fa fa-check"></i> 충족</span>'
                                    } else if (result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['satisfied'] === false) {
                                        ruleResult = '<span class="text-bold" style="color: red;"><i class="icon fa fa-warning"></i><a style="color: red" class="top" title="" data-placement="top" data-toggle="tooltip" href="#!" data-original-title="졸업 요건의 지정된 기준을 만족하지 못했습니다."> 부족</a></span>'
                                    } else {
                                        ruleResult = '<span class="text-bold" style="color: orangered;"><i class="icon fa fa-warning"></i> 오류</span>'
                                    }
                                    $('#table-student').find('> tbody:last').append('<tr data-toggle="modal" data-target="#modal-subject-list"  onclick="showSubjectDetail(\'' + result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['rule']['no'] + '\')" style="cursor: pointer"><td>' + track + '</td><td>' + result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['subjectGroupName'] + '</td><td>' + ruleType + '</td><td>' + result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['rule']['ruleMinimum'] + '</td><td>' + result['simulation']['trackResults'][key]['ruleResults'][ruleKey]['result'] + '</td><td>' + ruleResult + '</td></tr>');
                                }
                            }
                        }
                    }

                    $('a').tooltip();
                    for (var key in result['simulation']['remainedSubjects']) { // key = track
                        if (result['simulation']['remainedSubjects'].hasOwnProperty(key)) {
                            $('#table-remainedSubject').find('> tbody:last').append('<tr><td>' + data['simulation']['remainedSubjects'][key]['year'] + '</td><td>' + data['simulation']['remainedSubjects'][key]['semester'] + '</td><td>' + data['simulation']['remainedSubjects'][key]['subjectNo'] + '</td><td>' + data['simulation']['remainedSubjects'][key]['subjectName'] + '</td><td>' + data['simulation']['remainedSubjects'][key]['category'] + '</td><td>' + data['simulation']['remainedSubjects'][key]['selectArea'] + '</td><td>' + data['simulation']['remainedSubjects'][key]['credit'] + '</td></tr>')
                        }
                    }

                    iziToast.show({
                        title: '알림',
                        message: info00,
                        theme: 'light',
                        color: 'green',
                        position: 'topRight',
                        timeout: 1500
                    });

                    if (inSearching === false) {
                        $('#search-spin').css('display', 'none');
                        $('#search-check').css('display', '');
                        $('#search-graduation').trigger('click');
                        $('#result-wait').css('display', 'none');
                        $('#detail-wait').css('display', 'none');
                        $('#subject-wait').css('display', 'none');
                        $('#selected-subject-wait').css('display', 'none');
                        $('#result-list').trigger('click');
                        $('#detail-list').trigger('click');
                        $('#subject-list').trigger("click");
                        $('#selected-subject-list').trigger('click');
                        $('#department').trigger('change', '1');

                        inSearching = true
                    }
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    });

                    if (inSearching === false) {
                        $('#search-check').css('display', 'none');
                        $('#search').prop('disabled', '')
                    }
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                });

                if (inSearching === false) {
                    $('#search-spin').css('display', 'none');
                    $('#search').prop('disabled', '')
                }
            }
        })
    }

    function selectSubject(no, name, field, credit) {
        if (subject.length === 0) {
            $('#selected-subject-tbody').empty();
        }

        for (var key = 0; key < subject.length; key++) {
            if (subject[key]['academic_no'] === no) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert04,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                });

                return;
            }
        }

        var department = $('#department').val();
        var item = {};

        item['dept_no'] = department;
        item['academic_no'] = no;

        subject.push(item);
        selected_subject_list.find('> tbody:last').append('<tr id="row-' + no + '-' + department + '"><td>' + no + '</td><td>' + name + '</td><td>' + field + '</td><td>' + credit + '</td><td>' + '<i class="icon fa fa-remove text-red" onclick="deleteSubject(\'' + no + '\', \'' + department + '\');" style="cursor: pointer"></i>' + '</td></tr>')
    }

    function deleteSubject(no, dept_no) {
        var idx = subject.findIndex(function (item) { return item['academic_no'] === no });

        if (idx > -1) {
            subject.splice(idx, 1)
        }

        $('#row-' + no + '-' + dept_no).remove();

        if (subject.length === 0) {
            selected_subject_list.find('> tbody:last').append('<tr><td colspan="5">담은 과목이 없습니다.<br>수강 가능 과목에서 과목을 담아주세요.</td></tr>')
        }
    }

    function showSubjectDetail(ruleNo) {
        $('#studentSubject-tbody').empty();

        for (var key in data['simulation']['trackResults']) {
            if (data['simulation']['trackResults'].hasOwnProperty(key)) {
                for (var ruleKey in data['simulation']['trackResults'][key]['ruleResults']) {
                    if (data['simulation']['trackResults'][key]['ruleResults'].hasOwnProperty(ruleKey) && data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['rule']['no'].toString() === ruleNo) {
                        for (var subjectKey in data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects']) {
                            if (data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'].hasOwnProperty(subjectKey)) {
                                $('#table-studentSubject').find('> tbody:last').append('<tr><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['year'] + '</td><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['semester'] + '</td><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['subjectNo'] + '</td><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['subjectName'] + '</td><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['category'] + '</td><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['selectArea'] + '</td><td>' + data['simulation']['trackResults'][key]['ruleResults'][ruleKey]['appliedSubjects'][subjectKey]['credit'] + '</td></tr>')
                            }
                        }

                        break;
                    }
                }
            }
        }

        recommend(ruleNo)
    }

    function recommend(rule_no) {
        $('#tbody-recommend-subject').empty();

        $.ajax({
            url: '/simulation/recommend',
            type: 'get',
            data: { 'ruleNo': rule_no },
            success: function (result) {
                if (result['result'] === 'success') {
                    for (var key in result['subjectList']) {
                        if (result['subjectList'].hasOwnProperty(key)) {
                            $('#tbody-recommend-subject').append('<tr id="' + result['subjectList'][key]['academicNo'] + '">' + '<td>' + result['subjectList'][key]['academicNo'] + '</td>' + '<td>' + result['subjectList'][key]['name'] + '</td>' + '<td>' + result['subjectList'][key]['domain'] + '</td>' + '<td>' + result['subjectList'][key]['grade'] + '</td></tr>')
                        }
                    }
                } else {
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })
    }
</script>

{% include "include/script.html"%}
