{% include "include/header.html"%}

<style>
    input.upload {
        width: 100%;
        height: 200px;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        border: 3px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0);
        opacity: 0;
        filter: alpha(opacity=0);
        position: relative;
    }

    button.replace {
        width: calc(100% - 30px);
        height: 200px;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        border: 3px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        font-size: 20px;
        color: rgba(0, 0, 0, .5);
        position: absolute;
    }

    drop-zone {
        width: 100%;
        height: 200px;
        border: 3px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        text-align: center;
        position: relative;
        font-size: 20px;
        color: rgba(0, 0, 0, 0);
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            학적사항 확인 및 성적 데이터 등록
            <small>Student User Data Settings</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-university"></i> Settings</a></li>
            <li class="active">Student User Data</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row" style="margin-bottom: 60px;">
            <div class="col-md-12">
                <p class="text-center" style="font-size: 120%;"><strong>—</strong></p>
                <p class="text-center" style="font-size: 180%; margin-top: 10px;"><strong>학적사항 확인</strong></p>
                <p class="text-center" style="font-size: 120%; margin-top: 10px;"><i>이전에 등록하신 학적사항이 유효한지 반드시 확인하시기 바랍니다.</i></p>
                <p class="text-center text-bold text-danger"><i class="icon fa fa-warning"></i> 학적사항이 실제와 다르게 지정된 경우, 졸업 판정의 결과가 올바르지 않습니다.</p>
                <br>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                        <div class="alert alert-warning alert-dismissible fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info-circle"></i> 이제 복수전공 및 부전공을 지정할 수 있습니다.</h4>
                            복수전공 및 부전공을 이수하는 학생은 <a href="/screen/user/mypage">마이페이지</a>에서 학적사항을 수정하시기 바랍니다.
                        </div>
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">학적사항</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <label>입학연도</label>
                                                <span class="form-control" style="width: 100%;"><!-- user_admission_year --></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="form-group">
                                                <label>학번</label>
                                                <span class="form-control" style="width: 100%;"><!-- user_id --></span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>이름</label>
                                                <span class="form-control" style="width: 100%;"><!-- user_name --></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <p class="text-center">&mdash;</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>소속 학과 (주전공)</label>
                                                <span class="form-control" style="width: 100%;"><!-- user_major_name --></span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>복수전공 (연계전공 포함)</label>
                                                <span class="form-control" style="width: 100%;"><!-- user_major2_name --></span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>부전공</label>
                                                <span class="form-control" style="width: 100%;"><!-- user_major3_name --></span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>제2전공</label>
                                                <span class="form-control" style="width: 100%;">-</span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>교직이수</label>
                                                <span class="form-control" style="width: 100%;">-</span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>공학인증</label>
                                                <span class="form-control" style="width: 100%;">-</span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>특수 과정</label>
                                                <span class="form-control" style="width: 100%;">-</span>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </form>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <i class="icon fa fa-warning"></i> 학적사항의 변동이 있는 경우에는 <a href="/screen/user/mypage">마이페이지</a>에서 정보를 수정할 수 있습니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 60px;">
            <div class="col-md-12">
                <p class="text-center" style="font-size: 120%;"><strong>—</strong></p>
                <p class="text-center" style="font-size: 180%; margin-top: 10px;"><strong>성적 데이터 등록</strong></p>
                <p class="text-center" style="font-size: 120%; margin-top: 10px;"><i><a href="#!" data-toggle="modal" data-target="#modal-info">등록할 성적 데이터는 어디에서 가져올 수 있습니까?</a></i></p>
                <br>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="icon fa fa-warning"></i> 성적 데이터 등록</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-rule"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="FILE_FORM" enctype="multipart/form-data" method="post" action="">
                                            <div class="form-group">
                                                <label>첨부파일</label>
						<button id ="filename" class="form-control replace"><i class="fa fa-info-circle"></i><br>성적 데이터 파일을 점선 영역으로 끌어 놓거나<br>클릭하여 데이터를 등록하세요.<br>하나의 엑셀 파일(.xls)만 등록할 수 있습니다.</button>
                                                <input id="excelFile" type="file" name="excelFile" class="form-control upload" onchange="checkfilename()">
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <i class="icon fa fa-warning"></i> 성적 데이터는 개발팀과 세종대학교 학술전산처와의 상호 협의된 형식의 엑셀 파일만 등록이 가능합니다.
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 60px; margin-bottom: 150px">
            <div class="col-md-12">
                <p class="text-center" style="font-size: 120%;"><strong>—</strong></p>
                <p class="text-center" style="font-size: 180%; margin-top: 10px;"><strong>아래의 버튼을 눌러 성적 데이터를 등록하세요!</strong></p>
                <p class="text-center" style="font-size: 120%; margin-top: 10px;"><i>등록하신 성적 데이터는 서버에 저장되지 않으며,<br>로그아웃하는 시점에 소멸됩니다.</i></p>
                <br>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                        <button type="submit" id="search" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px;"><i class="fa fa-check"></i> 등록하기</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-info">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">등록할 성적 데이터는 어디에서 가져올 수 있습니까?</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>안녕하세요.
                            <!--#userdata--><!--userdata.name--> 님<!--/userdata-->
                            <!--^userdata-->손님<!--/userdata-->
                            <br>세종대학교 404E 개발팀입니다.</p>
                        <p>우리 개발팀은 오랜 기간에 걸쳐 지속적으로 세종대학교 학술전산처와 함께 학생의 성적 데이터 처리에 대해 논의해왔습니다.
                            <br>논의하는 과정에서 서로의 입장차를 이해하고 타협하여 다음과 같이 협의하게 되었습니다.</p>
                        <p></p>
                        <p>1. 졸업관리시스템의 서버에는 학생의 성적 데이터를 일절 저장하지 않는다.
                            <br>2. 학생들은 졸업관리시스템을 이용하는 과정에서 필요한 성적 데이터를 스스로 등록하도록 한다.
                            <br>3. 성적 데이터는 사전에 개발팀과 세종대학교 학술전산처 간의 상호 협의한 형식에 따른다.</p>
                        <p></p>
                        <p>—</p>
                        <p></p>
                        <p>등록 가능한 성적 데이터는 다음의 방법으로 취득하실 수 있습니다.</p>
                        <p></p>
                        <p class="text-bold">1. 세종대학교 학사정보시스템(https://uis.sejong.ac.kr/)에 로그인합니다.
                        <br>2. 좌측 메뉴에서 '기이수성적조회'를 선택합니다.
                        <br>3. 우측 결과 화면에서 '성적엑셀다운로드'를 선택하여 엑셀 파일을 내려받습니다.</p>
                        <br>
                        <p><img src="/help_data_upload.png" width="381px" height="107px" style="border: 1px solid black"></p>
                        <br>
                        <p>개발팀은 앞으로도 더 나은 서비스 제공을 위해 항상 노력하겠습니다.</p>
                        <p>고맙습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </section>
    <!-- /.content -->
</div>

{% include "include/footer.html"%}

<script type="text/javascript">
    function checkFileType(filePath) {
        var fileFormat = filePath.split(".");

        return fileFormat.indexOf("xls") > -1;

    }

    function checkfilename(){
        var file = $("#excelFile").val();
        var filename = file.split("\\");

        if (!checkFileType(file)) {
            document.getElementById("filename").innerHTML = '<i class="fa fa-warning"></i><br>해당 파일은 첨부할 수 없습니다.<br><i>' + filename[filename.length-1] + '</i>';
            return false;
        }

        document.getElementById("filename").innerHTML = '<i class="fa fa-check"></i><br>다음 파일이 정상적으로 첨부되었습니다.<br><i>' + filename[filename.length-1] + '</i>';

    }

    $('#search').click(function () {
        var file = $("#excelFile").val();
        var filename = file.split("\\");

        if (file === "" || file == null) {
            document.getElementById("filename").innerHTML = '<i class="fa fa-warning"></i><br>파일이 첨부되지 않았습니다.<br>엑셀 파일을 첨부하여 주십시오.';

            return false;
        } else if (!checkFileType(file)) {
            document.getElementById("filename").innerHTML = '<i class="fa fa-warning"></i><br>해당 파일은 첨부할 수 없습니다.<br><i>' + filename[filename.length-1] + '</i>';

            return false;
        }

        document.getElementById("filename").innerHTML = '<i class="fa fa-check"></i><br>다음 파일이 정상적으로 첨부되었습니다.<br><i>' + filename[filename.length-1] + '</i>';

        var form = $('#FILE_FORM')[0];
        var formData = new FormData(form);
        formData.append("fileObj", $("#excelFile")[0].files[0]);

        $.ajax({
            url: '/settings/student',
            type: 'post',
            processData: false,
            contentType: false,
            data: formData,
            success: function (result) {
                if (result === 'success') {
                    location.replace("<!-- redirect -->")
                }
                else{
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function () {
                iziToast.show({
                    title: '알림',
                    message: info01 + "<br>파일의 크기는 50KB를 넘을수 없습니다",
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        })

    });
</script>

{% include "include/script.html"%}
