{% include "include/header.html"%}

<style>
    input.upload {
        width: 100%;
        height: 200px;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        border: 3px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0);
        opacity: 0;
        filter: alpha(opacity=0);
        position: relative;
    }

    button.replace {
        width: calc(100% - 30px);
        height: 200px;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        border: 3px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        font-size: 20px;
        color: rgba(0, 0, 0, .5);
        position: absolute;
    }

    drop-zone {
        width: 100%;
        height: 200px;
        border: 3px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        text-align: center;
        position: relative;
        font-size: 20px;
        color: rgba(0, 0, 0, 0);
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            학생 데이터 관리
            <small>Student Data Settings</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-university"></i> Settings</a></li>
            <li class="active">Student Data</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        {% include "include/alert.html"%}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="icon fa fa-warning"></i> 학생 데이터 등록 및 교체</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="result-rule"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="excelUploadForm" name="excelUploadForm" enctype="multipart/form-data" method="post" action="/settings/student">
                                    <div class="form-group">
                                        <label>첨부파일</label>
                                        <button id ="filename" class="form-control replace"><i class="fa fa-info-circle"></i><br>등록하고자 하는 학생 성적 데이터 파일을 점선 영역으로 끌어 놓으십시오.<br>하나의 엑셀 파일(.xlsx)만 등록할 수 있습니다.</button>
                                        <input id="excelFile" type="file" name="excelFile" class="form-control upload" onchange="checkfilename()">
                                    </div>
                                    <span id="addExcelImpoartBtn" class="btn btn-danger btn-block" onclick="check()">첨부한 데이터 파일 등록하기</span>
                                </form>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <i class="icon fa fa-warning"></i> 학생 데이터를 등록하면 시스템의 핵심 데이터를 변경하므로 이용에 유의하시기 바랍니다.
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
        <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
            <a class="btn btn-primary pull-right" href="javascript:uploadFile();">업로드 하기</a>
            <input type="file" id="subjectFile" name="subjectFile"> 엑셀 컬럼 (학수번호, 과목이름, 영역, 학점)
        </form>
    </section>
    <!-- /.content -->
</div>

{% include "include/footer.html"%}

<script type="text/javascript">
    function checkFileType(filePath) {
        var fileFormat = filePath.split(".");

        return fileFormat.indexOf("xlsx") > -1;

    }

    function checkfilename(){
        var file = $("#excelFile").val();
        var filename = file.split("\\");

        if (!checkFileType(file)) {
            document.getElementById("filename").innerHTML = '<i class="fa fa-warning"></i><br>해당 파일은 첨부할 수 없습니다.<br><i>' + filename[filename.length-1] + '</i>';
            return false;
        }

        document.getElementById("filename").innerHTML = '<i class="fa fa-check"></i><br>다음 파일이 정상적으로 첨부되었습니다.<br><i>' + filename[filename.length-1] + '</i>';

    }

    function check() {
        var file = $("#excelFile").val();
        var filename = file.split("\\");

        if (file === "" || file == null) {
            document.getElementById("filename").innerHTML = '<i class="fa fa-warning"></i><br>파일이 첨부되지 않았습니다.<br>엑셀 파일을 첨부하여 주십시오.';

            return false;
        } else if (!checkFileType(file)) {
            document.getElementById("filename").innerHTML = '<i class="fa fa-warning"></i><br>해당 파일은 첨부할 수 없습니다.<br><i>' + filename[filename.length-1] + '</i>';

            return false;
        }

        document.getElementById("filename").innerHTML = '<i class="fa fa-check"></i><br>다음 파일이 정상적으로 첨부되었습니다.<br><i>' + filename[filename.length-1] + '</i>';


        if (confirm("업로드 하시겠습니까?")) {
            var options = {
                success : function(data) {
                    alert("모든 데이터가 업로드 되었습니다.");

                },
                type : "POST"
            };
            $("#excelUploadForm").submit();

        }
    }
    function uploadFile() {
        var form = $('#FILE_FORM')[0];
        var formData = new FormData(form);
        formData.append("fileObj", $("#subjectFile")[0].files[0]);
        $.ajax({
            url: '/settings/student/uploadtotalSubject',
            type: 'post',
            processData: false,
            contentType: false,
            data: formData,
            success: function (result) {
                if (result === 'success') {
                    alert("등록완료")
                }
                else{
                    iziToast.show({
                        title: '알림',
                        message: info01 + alert02,
                        theme: 'light',
                        color: 'red',
                        position: 'topRight',
                        timeout: 3000
                    })
                }
            },
            error: function (result) {
                iziToast.show({
                    title: '알림',
                    message: info01 + alert00,
                    theme: 'light',
                    color: 'red',
                    position: 'topRight',
                    timeout: 3000
                })
            }
        });
    }
</script>

{% include "include/script.html"%}