{% load static %}
{% include "include/header.html" %}
<div class="content-wrapper">
    <div class="content-header">
      <h1>교과목을 관리 할 수 있습니다.</h1>
    </div>
<div class="row">

</div>
<div class="row">
    <div class="col-md-2">
        <select  class="selectpicker col-md-12" data-live-search="true" id = "university-list">
          <option>학교 전체</option>
        </select>
      </div>

    <div class="col-md-2">
      <select  class="selectpicker col-md-12" data-live-search="true" id = "year-list">
        <option>년도 전체</option>
      </select>
    </div>

    <div class="col-md-2">
      <select  class="selectpicker col-md-12" data-live-search="true"" id = "department-list">
        <option>학과 전체</option>
      </select>
    </div>
    
    <div class="col-md-2">
      <select class="selectpicker col-md-12" data-live-search="true" id = "subject-list">
        <option>교과목 전체</option>
      </select>
    </div>
    <div class="col-md-2">
      
    </div>
    <div class="col-md-2">
      <button class="btn col-md-12">조회</button>
    </div>
</div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>과목</th>
                  <th>년도</th>
                  <th>학과</th>
                  <th>이수그룹</th>
                  <th>필수과목</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
              </tbody>
            </table>


  </div>
</div>
  <script>
    function read_year() {
      $.ajax({
        type:"POST",
        url:"data-test",
        data : {name : "홍길동"},
        dataType : "text",
        async: false,
        success: function(xml)
        {
          console.log(xml);
          alert(xml);
        },
        error: function(xhr, status, error) 
        {
          alert(error);
        }	
      });
    }
  </script>

  <script>
  
  $( document ).ready(function() {
    console.log( "ready!" );
    create_subjectList();
    create_yearList();
    create_departmentList();
  });

  function create_subjectList() {
    domId='#subject-list'

    $(domId).append('<option>국어</option>');
    $(domId).append('<option>영어</option>');
    $(domId).append('<option>수학</option>');
    $(domId).append('<option>사회</option>');

  }

  function create_yearList() {
    domId='#year-list'
    
    $(domId).append('<option>2019</option>');
    $(domId).append('<option>2018</option>');
    $(domId).append('<option>2017</option>');
    $(domId).append('<option>2016</option>');

  }

  
  function create_departmentList() {
    domId='#department-list'
    
    $(domId).append('<option>영어과</option>');
    $(domId).append('<option>무용과</option>');
    $(domId).append('<option>경영과</option>');
    $(domId).append('<option>컴퓨터과</option>');

  }



  $('#search').click(function () {

        // if(subject.find('option:selected').val() === '0')
        // {
        //     iziToast.show({
        //         title: '알림',
        //         message: info01 + alert05,
        //         theme: 'light',
        //         color: 'red',
        //         position: 'topRight',
        //         timeout: 3000
        //     });

        //     return;
        // }

        // $('#search').prop('disabled', 'disabled');
        // $('#search-check').css("display", '');

        // $.ajax({
        //     url: '/subject/search',
        //     type: 'get',
        //     data: { 'subject' : subject.val(),
        //         'year': year.val(),
        //         'department': major.val() },
        //     success: function (result) {
        //         if (result['result'] === 'success') {
        //             $('#searched_subject').text($('#subject').find('option:selected').text());
        //             $('#searched_year').text($('#year').find('option:selected').text());
        //             $('#searched_major').text($('#major').find('option:selected').text());
        //             $('#modal_searched_subject').text($('#subject').find('option:selected').text());
        //             $('#group_list').empty();

        //             group_list.empty();

        //             for (var key in result['groups']) {
        //                 if (result['groups'].hasOwnProperty(key)) {
        //                     var essential = "선택";

        //                     if (result['groups'][key]['systemSubjectGroupSubjectMappings'][0]['essential'] === 1) {
        //                         essential = "필수";
        //                     }

        //                     group_list.append('<tr><td class="hidden-xs">' + result['groups'][key]['no']
        //                         + '</td><td>' + result['groups'][key]['name'] + '</td>'
        //                         + '<td>' + essential + '</td><td class="hidden-xs"><button type="button" class="btn btn-warning btn-xs" disabled>대체</button> <button type="button" class="btn btn-danger btn-xs" onclick="remove(' + result['groups'][key]['no'] + ')">해제</button></td></tr>')
        //                 }
        //             }

        //             group_list.append('<tr class="hidden-xs"><td></td><td></td><td></td><td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-create">새 그룹 지정</button></td></tr>');

        //             $('#search-subject').trigger('click');
        //             $('#result-wait').css('display', 'none');
        //             $('#result-subject').trigger('click')
        //         } else {
        //             iziToast.show({
        //                 title: '알림',
        //                 message: info01 + alert02,
        //                 theme: 'light',
        //                 color: 'red',
        //                 position: 'topRight',
        //                 timeout: 3000
        //             });

        //             $('#searched_subject').text('-');
        //             $('#searched_year').text('-');
        //             $('#searched_major').text('-');

        //             $('#search-check').css('display', 'none');
        //             $('#search').prop('disabled', '')
        //         }
        //     },
        //     error: function () {
        //         iziToast.show({
        //             title: '알림',
        //             message: info01 + alert00,
        //             theme: 'light',
        //             color: 'red',
        //             position: 'topRight',
        //             timeout: 3000
        //         });

        //         $('#searched_subject').text('-');
        //         $('#searched_year').text('-');
        //         $('#searched_major').text('-');

        //         $('#search-check').css('display', 'none');
        //         $('#search').prop('disabled', '')
        //     }
        // })
    });

  </script>
