{% load static %}
{% include "include/header.html" %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>과목 관리
        <small>Subject Management</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 과목 관리</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header">
                <h4>과목 관리를 할 수 있습니다.</h4>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select  class="form-control select2" id="university_list">
                                <option value="all">학교 전체</option>
                                {% for university in universitys %}
                                    <option value="{{ university.meta_data_relation_code }}">{{ university.meta_data_relation_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                         <div class="form-group">
                            <select  class="form-control select2" data-live-search="true" id="year_list">
                                <option value="all">년도 전체</option>
                            </select>
                         </div>
                    </div>

                    <div class="col-md-2">
                         <div class="form-group">
                            <select  class="form-control select2" data-live-search="true" id="department_list">
                                <option value="all">학과 전체</option>
                            </select>
                         </div>
                    </div>

                    <div class="col-md-2">
                         <div class="form-group">
                            <select  class="form-control select2" data-live-search="true" id = "division_list">
                                <option value="all">이수구분 전체</option>
                            </select>
                         </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary col-md-12">생성</button>
                    </div>
                    <div class="col-md-2">
                    <button class="btn btn-primary col-md-12">조회</button>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover text-center">
                          <thead>
                            <tr>
                              <th>과목</th>
                              <th>대학</th>
                              <th>이수구분</th>
                              <th>학과</th>
                              <th>이수구</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for subject in subjects %}
                              <tr>
                                <td>{{ subject.subject_name }}</td>
                                <td>{{ subject.university_name }}</td>
                                <td>{{ subject.subject_completion_division }}</td>
                                <td>{{ subject.subject_area }}</td>
                                <td>{{ subject.subject_credit }}</td>
                              </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer text-center" >
                <ul class="pagination pagination-sm no-margin">
                    {% if subjects.has_previous %}
                        <li><a href="?page={{ subjects.previous_page_number }}"><<</a></li>
                        <li><a href="?page={{ subjects.previous_page_number}}">{{ subjects.previous_page_number}}</a></li>
                    {% endif %}
                    <li><a href="">{{ subjects.number }}</a></li>
                    {% if subjects.has_next %}
                        <li><a href="?page={{ subjects.next_page_number }}">{{ subjects.next_page_number }}</a></li>
                        <li><a href="?page={{ subjects.next_page_number }}">>></a></li>
                    {% endif %}
                </ul>
            </div>

        </div>



      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>

<script>

    $(document).ready(function(){
        // 초기 학번 설정
        var current_year = new Date().getFullYear() + 1;
        for(var year=1950; year <= current_year ; current_year--) {
            $('#year_list').append("<option value='"+current_year+"'>"+current_year+" 학번"+"</option>")
        }


    })

    // 대학 변경시 학과 변경
    $('#university_list').change(function(){
        change_deparmentlist($('#university_list').val())
        change_rule_divisionlist($('#university_list').val())
    })

    // 이수 구분 변경
    function change_rule_divisionlist(university_code){
        $.ajax({
            url: '/data/common/metainfo/',
            type: 'GET',
            data: {
                'meta_data_code': 'meta_completionDivision',
                'upper_data_code': university_code
            },
            success: function (result) {
                $("#division_list").empty()

                $("#division_list").append("<option value='all'>이수구분 전체</option>")

               for(var key in result){
                   $("#division_list").append(
                       "<option value='"+result[key].meta_data_relation_code
                       +"'>"+result[key].meta_data_relation_name+"</option>"
                   )
                }
            },
            error: function () {
                alert('department_list error')
            }
        })
    }

    // 학과 변경
    function change_deparmentlist(university_code){
        $.ajax({
            url: '/data/common/departments/',
            type: 'GET',
            data: {
                'meta_data_code': university_code
            },
            success: function (result) {
                $("#department_list").empty()

                $("#department_list").append("<option value='all'>학과전체</option>")

                for(var key in result){
                    for(var key2 in result[key].departments){
                        $("#department_list").append(
                           "<option value='"+result[key].departments[key2].department_code+"'>"
                            +" ( "+result[key].college_name+" ) "+result[key].departments[key2].department_name
                            +"</option>"
                        )
                    }

                }
            },
            error: function () {
                alert('department_list error')
            }
        })
    }

</script>

{% include "include/footer.html" %}