{% load static %}
{% include "include/header.html" %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>과목 관리
        <small>Subject Management</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 과목 관리</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header">
                <h4>과목 관리를 할 수 있습니다.</h4>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select  class="form-control select2" id="university_list">
                                <option value="all">학교 전체</option>
                                {% for university in universitys %}
                                    <option value="{{ university.meta_data_relation_code }}">{{ university.meta_data_relation_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                         <div class="form-group">
                            <select  class="form-control select2" data-live-search="true" id="division_list">
                                <option value="all">이수구분 전체</option>
                            </select>
                         </div>
                    </div>

                    <div class="col-md-3">
                         <div class="form-group">
                            <select  class="form-control select2" data-live-search="true" id="area_list">
                                <option value="all">영역 전체</option>
                            </select>
                         </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-primary col-md-12">생성</button>
                    </div>
                    <div class="col-md-2">
                    <button class="btn btn-primary col-md-12" id="search">조회</button>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover text-center">
                          <thead>
                            <tr>
                              <th>과목</th>
                              <th>대학</th>
                              <th>이수구분</th>
                              <th>영역</th>
                              <th>학점</th>
                            </tr>
                          </thead>
                          <tbody id="subject_list">
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer text-center" >
                <ul class="pagination pagination-sm no-margin">
                        <li><a id="page_prev" ><<</a></li>
                        <li><a id="page_next" >>></a></li>
                </ul>
            </div>

        </div>



      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>

<script>

    var page = 1

    $(document).ready(function(){
        get_subjects(page, '학교 전체', '이수구분 전체', '영역 전체')
    })

    // 대학 변경시 학과 변경
    $('#university_list').change(function(){
        // 이수구분
        get_metadata($('#university_list').val(), 'meta_completionDivision', $("#division_list"), '이수구분 전체')
        // 영
        get_metadata($('#university_list').val(), 'meta_domain', $("#domain_list"), '영역 전체')
    })

    function get_metadata(university_code , meta_data_code, select_box, select_all_text){
        $.ajax({
            url: '/data/common/metainfo/',
            type: 'GET',
            data: {
                'meta_data_code': meta_data_code,
                'upper_data_code': university_code
            },
            success: function (result) {
                select_box.empty()

                select_box.append("<option value='all'>"+select_all_text+"</option>")

               for(var key in result){
                   select_box.append(
                       "<option value='"+result[key].meta_data_relation_code
                       +"'>"+result[key].meta_data_relation_name+"</option>"
                   )
                }
            },
            error: function () {
                alert('department_list error')
            }
        })
    }

    $("#search").click(function(){
        page = 1
        get_subjects(page, $('#university_list option:selected').text(), $('#division_list option:selected').text(), $('#area_list option:selected').text())
    })

    $("#page_prev").click(function(){
        page = page - 1
        if(page < 1){
            page = 1
            return
        }
        get_subjects(page, $('#university_list option:selected').text(), $('#division_list option:selected').text(), $('#area_list option:selected').text())

    })

    $("#page_next").click(function(){
        page = page + 1
        get_subjects(page, $('#university_list option:selected').text(), $('#division_list option:selected').text(), $('#area_list option:selected').text())
    })

    function get_subjects(page, university, division ,area) {
        $.ajax({
            url: '/data/university/subjects/',
            type: 'GET',
            data: {
                'search': 1,
                'university': university,
                'division': division,
                'area': area,
                'page': page
            },
            success: function (result) {
                $('#subject_list').empty()
                // 과목 리스트 가져오기
                for (var key in result["results"]) {
                    $('#subject_list').append(
                        "<tr><td>" + result["results"][key].subject_name
                        + "</td><td>" + result["results"][key].university_name
                        + "</td><td>" + result["results"][key].subject_completion_division
                        + "</td><td>" + result["results"][key].subject_area
                        + "</td><td>" + result["results"][key].subject_credit
                        + "</td></tr>"
                    )
                }

            },
            error: function () {
                alert('department_list error')
            }
        })
    }



</script>

{% include "include/footer.html" %}